{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text: '关联渠道管理'
                },
                {
                    link: 'javascript:void(0);',
                    text: '渠道列表'
                },
                {
                    text: '创建渠道'
                }
            ]
        )
    }}

    <div class="form-frame">
        <form autocomplete="off">
          <!-- 属性配置-->
          <div class="form-title">
               属性配置
          </div>
          <div class="form-layer1">
              <div class="form-layer2">
                {# 渠道角色 #}
                <div class="form-group">
                   <label class="form-control-label">
                      <b> * </b>
                      <span> 渠道角色 </span>
                      <em> : </em>
                   </label>
                   <div class="form-control-wrap">
                      <select class="form-control">
                        <option value="">请选择</option>
                        <option value="0">商户</option>
                        <option value="1">门店</option>
                      </select>
                   </div>
                </div>
                {# 渠道类型 #}
                <div class="form-group">
                   <label class="form-control-label">
                      <b> * </b>
                      <span> 渠道类型 </span>
                      <em> : </em>
                   </label>
                   <div class="form-control-wrap">
                      <select class="form-control">
                        <option value="0">企业</option>
                        <option value="1">个人</option>
                      </select>
                   </div>
                </div>
                {# 所属行业 #}
                <div class="form-group">
                   <label class="form-control-label">
                      <b> * </b>
                      <span> 所属行业 </span>
                      <em> : </em>
                   </label>
                   <div class="form-control-wrap">
                      <div class="form-control-cascade">
                        <select class="form-control">
                          <option value="">请选择</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                      <div class="form-control-cascade">
                        <select class="form-control">
                          <option value="">请选择</option>
                          <option value="1">1.1</option>
                          <option value="1">1.2</option>
                        </select>
                      </div>
                   </div>
                </div>
              </div>
          </div>
          <!-- 功能权限配置-->
          <!-- <div class="form-title">
               功能权限配置
          </div>
          <table class="table table-checkBox">
            <tbody>
              <tr>
                <td>
                  <input id="J-info" name="info" type="checkBox" checked="checked" />
                  <label for="J-info">
                      录入渠道主体信息
                  </label>
                </td>
                <td>
                  <input type="checkBox" checked="checked" />
                  <label>
                      录入法人信息
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkBox" />
                  <label>
                      签署通道合同
                  </label>
                </td>
                <td>
                  <input type="checkBox" checked="checked" />
                  <label>
                      资金结算
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkBox" />
                  <label>
                      上传企业证照图片
                  </label>
                </td>
                <td>
                  <input type="checkBox" />
                  <label>
                      上传实体环境图片
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkBox" checked="checked" />
                  <label>
                      激活和使用终端
                  </label>
                </td>
              </tr>
            </tbody>
          </table> -->

          <!-- 按钮 -->
          <div class="text-align-center fn-mt-20">
              <a href="关联渠道管理-创建渠道(步骤2).html" class="btn primary">下一步</a>
              <!-- <button type="submit" class="btn primary">下一步</button> -->
              <a href="javaScript:void(0);" class="btn default">取消</a>
          </div>
        </form>
    </div>

{% endblock %}
