{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text: '关联渠道管理'
                },
                {
                    text: '渠道列表'
                }
            ]
        )
    }}

    {# 数据过滤器 #}
    <form>
        <div class="filter-table-wrap fn-mt-20">
            <table class="filter-table">
                <colgroup>
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 20%">
                    <col style="width: 30%">
                </colgroup>
                <tr>
                    <td>
                        <div class="form-group inline-filter">
                            <label class="form-control-label">
                                <span>渠道名称
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap smallsize">
                                <div class="form-control-date smallsize">
                                    <div class="form-control-wrap smallsize">
                                        <input type="text" class="form-control smallsize">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group inline-filter">
                            <label class="form-control-label">
                                <span>所属行业
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap smallsize">
                                <select name="" id="" class="form-control smallsize" style="padding-top: 3px;">
                                    <option value="">
                                        主分类(全部)
                                    </option>
                                    <option value="">
                                        美食
                                    </option>
                                    <option value="">
                                        购物
                                    </option>
                                    <option value="">
                                        景点
                                    </option>
                                    <option value="">
                                        休闲娱乐
                                    </option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-control-wrap smallsize">
                            <select name="" id="" class="form-control smallsize" style="padding-top: 3px;">
                                <option value="">
                                    二级分类(全部)
                                </option>
                                <option value="">
                                    二级分类一
                                </option>
                                <option value="">
                                    二级分类二
                                </option>
                                <option value="">
                                    二级分类三
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group inline-filter">
                            <label class="form-control-label">
                                <span>渠道角色
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap smallsize">
                                <select name="" id="" class="form-control smallsize" style="padding-top: 3px;">
                                    <option value="">
                                        全部
                                    </option>
                                    <option value="">
                                        商户
                                    </option>
                                    <option value="">
                                        门店
                                    </option>
                                    <option value="">
                                        渠道商
                                    </option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="plural-btns" style="padding-bottom: 10px;">
                            <button type="button" class="btn primary small-btn">搜索</button>
                            <button type="button" class="btn secondary small-btn">重置</button>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </form>

    <table class="table">
        <colgroup>
            <col />
            <col style="width: 120px" />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col style="width: 78px" />
        </colgroup>
        <thead>
            <tr>
                <th>渠道编号</th>
                <th>渠道名称</th>
                <th>渠道角色</th>
                <th>所在地</th>
                <th>所属行业</th>
                <th>渠道数</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1086</td>
                <td>
                    百事可乐嘉年华有限公司
                </td>
                <td>
                    渠道商
                </td>
                <td>山东，济南</td>
                <td>美食，饮料</td>
                <td>8</td>
                <td>2016-10-10  18:00:00</td>
                <td>
                    <span class="success-FontColor2">
                        启用
                    </span>
                </td>
                <td>
                    <div class="table-ctrls">
                        查看<span class="caret-down"></span>
                        <div class="ctrls">
                            <a href="关联渠道管理-渠道列表-查看详情.html">查看</a>
                            <a href="关联渠道管理-渠道列表-编辑渠道.html">编辑</a>
                            <a href="关联渠道管理-渠道列表-查看合同.html">合同</a>
                            <a href="关联渠道管理-渠道列表-查看关联终端.html">终端</a>
                            <a href="关联渠道管理-渠道列表-管理员账号.html">管理员</a>
                            <a href="javascript:void(0);" class="opt-disable">禁用</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1086</td>
                <td>
                    百事可乐嘉年华有限公司
                </td>
                <td>
                    渠道商
                </td>
                <td>山东，济南</td>
                <td>美食，饮料</td>
                <td>8</td>
                <td>2016-10-10  18:00:00</td>
                <td>
                    <span class="error-FontColor2">
                        禁用
                    </span>
                </td>
                <td>
                    <div class="table-ctrls">
                        查看<span class="caret-down"></span>
                        <div class="ctrls">
                            <a href="关联渠道管理-渠道列表-查看详情.html">查看</a>
                            <a href="关联渠道管理-渠道列表-编辑渠道.html">编辑</a>
                            <a href="关联渠道管理-渠道列表-查看合同.html">合同</a>
                            <a href="关联渠道管理-渠道列表-查看关联终端.html">终端</a>
                            <a href="关联渠道管理-渠道列表-管理员账号.html">管理员</a>
                            <a href="javascript:void(0);" class="opt-active">启用</a>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- 暂无记录 -->
            <!-- <tr>
                <td colspan="8" class="empty">&nbsp;
                </td>
            </tr> -->
        </tbody>
    </table>
     {# 分页 #}
     {{ paginationAlpha.default( id='p1' ) }}

{% endblock %}

{# 页面脚本 #}
{% block jsPage %}
<script>
    // 静态分页
    function ajaxData(e, index, instance){
        index = index || 1;
        // 自定义总页码模板
        $('#p1').pagination({
            currentPage: index,
            items: 100,
            itemsOnPage: 10,
            pageStr: {
                show: true,
                template: '<p class="pull-left fs-12 viceText-FontColor lh-26">当前是第&nbsp;{$current}&nbsp;页，共&nbsp;{$pages}&nbsp;页，{$items}&nbsp;条记录，每页显示&nbsp;{$itemsOnPage}&nbsp;条。</p>'
            }
        });
        $('#p1').on('select.ui.pagination', ajaxData);
    }
    ajaxData();

    $('.table').on('click','.opt-disable',function(){
        $.tipsModal({
            type : 'info',   //  success info error
            title : '<span class="warning-FontColor">禁用</span>',
            content : '禁用后，该渠道及关联的渠道将不可用，确定禁用？',
            buttons : {  //  按钮可以只传ok或cancel
              ok : {
                text : '确定',
                callback : function () {
                  alert('确定');
                }
              },
              cancel : {
                text : '取消',
                callback : function () {
                  alert('取消');
                }
              }
            }
        });
    });

    $('.table').on('click','.opt-active',function(){
        $.tipsModal({
            type : 'info',   //  success info error
            title : '<span class="warning-FontColor">启用</span>',
            content : '启用后，该渠道及关联的渠道将激活，确定启用？',
            buttons : {  //  按钮可以只传ok或cancel
              ok : {
                text : '确定',
                callback : function () {
                  alert('确定');
                }
              },
              cancel : {
                text : '取消',
                callback : function () {
                  alert('取消');
                }
              }
            }
        });
    });
</script>
{% endblock %}
