{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text: '关联渠道管理'
                },
                {
                    link: 'javascript:void(0);',
                    text: '渠道列表'
                },
                {
                    link: 'javascript:void(0);',
                    text: '管理员账号'
                },
                {
                    text: '编辑'
                }
            ]
        )
    }}

    <div class="form-frame">
        <form autocomplete="off">
            <!-- 渠道主体信息-->
            <div class="form-title">
              编辑账号
            </div>
            <div class="form-layer1">
                <div class="form-layer2">
                    {# 账号名称 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <span> 账号名称 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <div class="form-control-data">
                                <span class="h3">yoiuug</span>
                            </div>
                       </div>
                    </div>
                    {# 登录密码 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 登录密码 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="password" class="form-control" value="www.frontpay.com" />
                       </div>
                    </div>
                    {# 账号角色 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <span> 账号角色 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <div class="form-control-data">
                                <span class="h3">超级管理员</span>
                            </div>
                       </div>
                    </div>
                    {# 姓名 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 姓名 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" value="张三" />
                       </div>
                    </div>
                    {# 手机号码 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 手机号码 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" value="13900000000" />
                       </div>
                    </div>
                    {# 邮箱 #}
                    <div class="form-group">
                       <label class="form-control-label">
                          <b> * </b>
                          <span> 邮箱 </span>
                          <em> : </em>
                       </label>
                       <div class="form-control-wrap">
                          <input type="text" class="form-control" value="yeshifu@frontpay.cn" />
                       </div>
                    </div>
                </div>
            </div>

            <!-- 按钮 -->
            <div class="text-align-center fn-mt-20">
                <button type="submit" class="btn primary">提交</button>
                <a href="关联渠道管理-渠道列表-管理员账号.html" class="btn default">取消</a>
            </div>
        </form>
    </div>

{% endblock %}
