{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: '对账管理-总账报表.html',
                    text:'收单对账管理'
                },
                {
                    text: '服务商结算表'
                }
            ]
        )
    }}

    <form class="filterBox-Alpha" action="#" method="post">
        <div class="fliter-inline-wrap">
            <div class="fliter-inline-item">
                <label>结算日期：</label>
                <div class="fliter-inline-width1">
                    <div class="form-control-date smallsize">
                        <span class="form-control-date-btn">
                            <i></i>
                        </span>
                        <input class="form-control" type="text" value="" data-toggle="datetimepicker" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="fliter-inline-item">
                <label>结算状态：</label>
                <div class="fliter-inline-width1">
                    <select>
                        <option value="">全部</option>
                        <option value="0">待结算</option>
                        <option value="1">已结算</option>
                    </select>
                </div>
            </div>
            <div class="fliter-inline-item">
                <label>结算机构：</label>
                <div class="fliter-inline-width1">
                    <select>
                        <option value="">全部</option>
                        <option value="0">广州分行</option>
                        <option value="1">深圳分行</option>
                    </select>
                </div>
            </div>
            <div class="fliter-inline-item">
                <button type="button" class="btn secondary small-btn">搜索</button>
                <button type="button" class="btn secondary small-btn">重置</button>
            </div>
        </div>
    </form>

    <table class="table inverse">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>序号</th>
                <th>结算日期</th>
                <th>机构</th>
                <th>结算金额</th>
                <th>结算状态</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    2017-01-21 15:45:54
                </td>
                <td>
                    深圳分行
                </td>
                <td>2800</td>
                <td>待结算</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    2017-01-21 15:45:54
                </td>
                <td>
                    广州分行
                </td>
                <td>2800</td>
                <td>待结算</td>
            </tr>

            <!-- 暂无记录 -->
            <!-- <tr>
                <td colspan="8" class="empty">&nbsp;
                </td>
            </tr> -->
        </tbody>
    </table>

{# 分页 #}
{{ paginationAlpha.default( id='p1' ) }}

{% endblock %}

{# 页面脚本 #}
{% block jsPage %}
<script>
    // 静态分页
    function ajaxData(e, index, instance){
        index = index || 1;
        // 自定义总页码模板
        $('#p1').pagination({
            currentPage: index,
            items: 100,
            itemsOnPage: 10,
            pageStr: {
                show: true,
                template: '<p class="pull-left fs-12 viceText-FontColor lh-26">当前是第&nbsp;{$current}&nbsp;页，共&nbsp;{$pages}&nbsp;页，{$items}&nbsp;条记录，每页显示&nbsp;{$itemsOnPage}&nbsp;条。</p>'
            }
        });
        $('#p1').on('select.ui.pagination', ajaxData);
    }
    ajaxData();
</script>
{% endblock %}
