{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text:'清分管理'
                },
                {
                    text: '机构清分配置'
                }
            ]
        )
    }}
    {# 页面跳转按钮 #}
    {{
        pageTabAlpha.default(
            list = [
                {
                    link: '清分管理-清分文件.html',
                    text:'清分文件'
                },
                {
                    text: '机构清分配置',
                    isActive: 1
                }
            ]
        )
    }}

    {# 数据过滤器 #}
    <form>
        <div class="filter-table-wrap fn-mt-20">
            <table class="filter-table">
                <colgroup>
                    <col style="width: 30%">
                    <col style="width: 70%">
                </colgroup>
                <tr>
                    <td>
                        <div class="form-group inline-filter">
                            <label class="form-control-label">
                                <span style="max-width:none;">机构/渠道
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap smallsize">
                                <!-- <input type="text" class="form-control smallsize" placeholder="账号角色"> -->
                                <select name="" id="" class="form-control smallsize" style="padding-top: 3px;">
                                    <option value="">
                                        全部
                                    </option>
                                    <option value="">
                                        招行深圳分行
                                    </option>
                                    <option value="">
                                        招行广州分行
                                    </option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="text-align-right plural-btns">
                            <button type="button" class="btn secondary small-btn">搜索</button>
                            <a href="清分管理-机构清分配置-添加(编辑).html" class="btn primary small-btn">添加</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <table class="table">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col style="width: 78px" />
        </colgroup>
        <thead>
            <tr>
                <th>机构/渠道</th>
                <th>格式要求</th>
                <th>文件请求</th>
                <th>字段定义</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    招行深圳分行
                </td>
                <td>txt文件</td>
                <td>sftp上传</td>
                <td>自定义字段</td>
                <td>
                    <a href="清分管理-机构清分配置-添加(编辑).html" class="link-standard">编辑</a>
                </td>
            </tr>
            <!-- 暂无记录 -->
            <!-- <tr>
                <td colspan="8" class="empty">&nbsp;
                </td>
            </tr> -->
        </tbody>
    </table>

{% endblock %}
