{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

{# 路径导航 #}
{{
breadCrumbAlpha.default(
list = [
{
link: '渠道合同管理-合同列表.html',
text:'渠道合同管理'
},
{
link: '渠道合同管理-合同列表.html',
text:'合同列表'
},
{
text: '设置关联服务方案'
}
]
)
}}

{# 阿迪达斯商户合同主体信息 #}
<div class="form-frame fn-mb-10">
    <form autocomplete="off">
        <div class="form-title">
            阿迪达斯步行街合同主体信息
        </div>

        <div class="fn-pa-5">
            <table class="table border-bottom inverse fn-mb-20 table-view">
                <tbody>
                    <tr>
                        <th>商户名称</th>
                        <td>阿迪达斯成都分公司</td>
                        <th>所在地</th>
                        <td>四川/成都/锦江区</td>
                    </tr>
                    <tr>
                        <th>合同编号</th>
                        <td>2017-01-01</td>
                        <th>合同签署日期</th>
                        <td>阿迪达斯</td>
                    </tr>
                    <tr>
                        <th>合同生效日期</th>
                        <td>2017-01-01</td>
                        <th>合同到期日期</th>
                        <td>长期有效</td>
                    </tr>
                    <tr>
                        <th>签约扣率</th>
                        <td>0.6%</td>
                        <th>总分润</th>
                        <td>0.4%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-title">
            阿迪达斯商户合同关联的服务方案
        </div>
        <div class="fn-pa-5">
            <table class="table border-bottom inverse fn-mb-20 ">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <th>方案编号</th>
                    <th>方案名称</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>2334544</td>
                    <td>阿迪达斯成都好运店</td>
                    <td><a class="link-standard" href="javascrit:void(0)">重选方案</a></td>
                </tr>
            </table>
        </div>

        <div class="form-title">
            方案展示
        </div>
        <div class="fn-pa-5">
            <table class="table border-bottom inverse fn-mb-20 ">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <th>分润方</th>
                    <th>分润占比</th>
                    <th>分润比例</th>
                </tr>
                <tr>
                    <td>本机构</td>
                    <td>50%</td>
                    <td>0.2%</td>
                </tr>
                <tr>
                    <td>服务商</td>
                    <td>20%</td>
                    <td>0.08%</td>
                </tr>
                <tr>
                    <td>子机构1</td>
                    <td>30%</td>
                    <td>0.12%</td>
                </tr>
            </table>
        </div>

        <div class="text-align-center fn-mt-20">
            <button id="submit" type="button" class="btn primary">提交</button>
            <a href="渠道合同管理-合同列表.html" class="btn default">取消</a>
        </div>

    </form>


</div>

{% endblock %}


{% block js %}
<script src="{{ static }}/js/webuploader/webuploader.js"></script>
<script src="{{ static }}/js/webuploader/uploader.js"></script>
{% endblock %}

{% block jsPage %}
<script type="text/javascript">
    /**
     * uploadSuccess 上传成功后回调
     * @return {[type]} [description]
     */
    function uploadSuccess(el, file, data) {
        /*var names = data.name.split('.');
         var name = names[0].length > 13 ? names[0].substring(0, 13) + "..." : names[0];
         $(el).siblings(".uploadName").val(data.name);
         $(el).siblings(".upload-name").text(name + "." + names[1]);
         $(el).siblings(".upload-path").val(data.path);
         $(el).siblings(".upload-size").val(data.size);*/
        // todo: test
        $(el).siblings(".upload-name").html(file.name);

    }
    $(function () {

        $(".j-type").on("change", function () {
            var isPrivateChecked = $("#private").prop("checked");
            if (isPrivateChecked) {
                $("#identity").removeClass("display-none");
            } else {
                $("#identity").addClass("display-none");
            }
        });

        /*$('.j-upload-btn').fileUpload({
         swf: './static/js/webuploader/Uploader.swf',
         sendurl: 'http://localhost/fileupload.php',
         //fileVal: 'FileData',
         success: uploadSuccess
         });*/
        //初始化上传控件
        $(".upload-img").InitUploader({
            sendurl: "http://192.168.7.129/fileupload.php",
            swf: "./static/js/webuploader/uploader.swf"
        });

        $("#submit").on("click",function(){
            $.tipsModal({
                type : 'success',   //  success info error
                title : '<span class="success-FontColor2">成功</span>',
                content : '设置成功',
                buttons : {  //  按钮可以只传ok或cancel
                    ok : {
                        text : '设置渠道管理员',
                        callback : function () {
                            console.log('确定');
                        }
                    }
//                 ,
//               cancel : {
//                 text : '取消',
//                 callback : function () {
//                   console.log('取消');
//                 }
//               }
                }
            });
        });

    });
</script>
{% endblock %}
