{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list=[
                {
                    link: '系统管理-角色管理.html',
                    text: '系统管理'
                },
                {
                    text: '角色管理'
                }
            ]
        )
    }}

    {# 操作按钮 #}
    <div class="fn-pt-20 text-align-right">
        <button type="button" class="btn primary small-btn" onclick="window.location.href='系统管理-角色管理-添加角色.html'">添加角色</button>
    </div>

    {# 表格 #}
    {{
        tableAlpha.default(
            data={
                theadList: [
                    {
                        inner: '角色名称',
                        thWidth: '100px'
                    },
                    {
                        inner: '角色描述'
                    },
                    {
                        inner: '创建时间',
                        thWidth: '180px'
                    },
                    {
                        inner: '状态',
                        thWidth: '60px'
                    },
                    {
                        inner: '操作',
                        thWidth: '150px'
                    }
                ],
                tbodyList: [
                    [
                        {
                            inner: '运营'
                        },
                        {
                            inner: '负责日常数据的录入和查询'
                        },
                        {
                            inner: '
                                <span class="text-nowrap">
                                    2015-05-25
                                </span>
                                <span class="text-nowrap viceText-FontColor">
                                    10:25:36
                                </span>
                            '
                        },
                        {
                            inner: '
                                <span class="error-FontColor1">
                                    禁用
                                </span>
                            '
                        },
                        {
                            inner: '
                                <a href="系统管理-角色管理-查看角色.html" class="link-standard">
                                    查看
                                </a>
                                &nbsp;
                                <a href="系统管理-角色管理-编辑角色.html" class="link-standard">
                                    编辑
                                </a>
                                &nbsp;
                                <a href="javascript:void(0);" class="link-standard turnOn">
                                    启用
                                </a>
                            '
                        }
                    ],
                    [
                        {
                            inner: '运营'
                        },
                        {
                            inner: '负责日常数据的录入和查询'
                        },
                        {
                            inner: '
                                <span class="text-nowrap">
                                    2015-05-25
                                </span>
                                <span class="text-nowrap viceText-FontColor">
                                    10:25:36
                                </span>
                            '
                        },
                        {
                            inner: '
                                <span class="success-FontColor2">
                                    启用
                                </span>
                            '
                        },
                        {
                            inner: '
                                <a href="系统管理-角色管理-查看角色.html" class="link-standard">
                                    查看
                                </a>
                                &nbsp;
                                <a href="系统管理-角色管理-编辑角色.html" class="link-standard">
                                    编辑
                                </a>
                                &nbsp;
                                <a href="javascript:void(0);" class="link-standard turnOff">
                                    禁用
                                </a>
                            '
                        }
                    ]
                ]
            },
            fixedClass='fn-pt-20'
        )
    }}

    {# 分页 #}
    {{ paginationAlpha.default( id='p1' ) }}

{% endblock %}

{# 页面脚本 #}
{% block jsPage %}
<script>
    // 静态分页
    function ajaxData(e, index, instance){
        index = index || 1;
        // 自定义总页码模板
        $('#p1').pagination({
            currentPage: index,
            items: 100,
            itemsOnPage: 10,
            pageStr: {
                show: true,
                template: '<p class="pull-left fs-12 viceText-FontColor lh-26">当前是第&nbsp;{$current}&nbsp;页，共&nbsp;{$pages}&nbsp;页，{$items}&nbsp;条记录，每页显示&nbsp;{$itemsOnPage}&nbsp;条。</p>'
            }
        });
        $('#p1').on('select.ui.pagination', ajaxData);
    }
    ajaxData();

    // 启用item
    $('.turnOn').on('click', function(){
         $.tipsModal({
             title: '<span class="warning-FontColor">确定启用？</span>',
             content: '启用后，该账号可正常登录运营管理后台操作',
             type: 'info',
             buttons : {
                 ok : {
                     text : '确定',
                     callback : function () {
                         console.log('触发事件');
                     }
                 },
                 cancel : {
                     text : '取消',
                     style: 'btn secondary'
                 }
             }
         });
     });

    // 禁用item
     $('.turnOff').on('click', function(){
         $.tipsModal({
             title: '<span class="warning-FontColor">确定禁用？</span>',
             content: '禁用后，该账号将不可登录运营管理后台',
             type: 'info',
             buttons : {
                 ok : {
                     text : '确定',
                     callback : function () {
                         console.log('触发事件');
                     }
                 },
                 cancel : {
                     text : '取消',
                     style: 'btn secondary'
                 }
             }
         });
    });
</script>
{% endblock %}
