{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list=[
                {
                    link: '系统管理-角色管理.html',
                    text: '系统管理'
                },
                {
                    link: '系统管理-角色管理.html',
                    text: '角色管理'
                },
                {
                    text: '查看角色'
                }
            ]
        )
    }}

    <p class="fn-mt-20 fn-mb-10">
        <span class="viceText-FontColor">角色名称：</span>运营
    </p>
    <p class="fn-mb-20">
        <span class="viceText-FontColor">角色描述：</span>
        负责日常数据的录入和查询
    </p>

    {# 权限 #}
    <div class="permission-table-wrap">
        <div class="ptName">
            <h3>机构管理</h3>
        </div>
        <div class="ptb">
            <table class="table table-border fn-mb-10">
                <colgroup>
                    <col style="width: 30%">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td rowspan="2">
                            <label class="table-checked-all">
                                <input type="checkbox" disabled checked>
                                本机构详情
                            </label>
                        </td>
                        <td>
                            <label class="table-checked-all">
                                <input type="checkbox" disabled checked>
                                查看
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="table-checked-all">
                                <input type="checkbox" disabled checked>
                                核身认证
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-border">
                <colgroup>
                    <col style="width: 30%">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td rowspan="2">
                            <label class="table-checked-all">
                                <input type="checkbox" disabled checked>
                                机构列表
                            </label>
                        </td>
                        <td>
                            <label class="table-checked-all">
                                <input type="checkbox" disabled checked>
                                查看
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="table-checked-all">
                                <input type="checkbox" disabled checked>
                                编辑
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-align-center fn-pt-20">
        <button class="btn secondary" onclick="window.location.href='系统管理-账号管理.html'">
            返回
        </button>
    </div>

{% endblock %}
