{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text:'通道管理'
                },
                {
                    text: '创建通道'
                }
            ]
        )
    }}

<div class="form-frame fn-mb-10">
    <div class="createContract clearfix">

        <div class="box float-left">
            <div>
                <img class="logoImg" src="{{ static }}/images/alipay.jpg"></img>
                <h6>支付宝</h6>
            </div>
            <div>
                <!--<a href="##" type="button" class="btn default small-btn">已开通</a>-->
                <a href="###" class="link-standard">已开通</a>
            </div>
        </div>

        <div class="box float-left">
            <div>
                <img class="logoImg" src="{{ static }}/images/weChat.jpg"></img>
                <h6>微信支付</h6>
            </div>
            <div>
                <a href="##" type="button" class="btn default small-btn">已开通</a>
            </div>
        </div>

        <div class="box float-left">
            <div>
                <img class="logoImg" src="{{ static }}/images/quickPass.jpg"></img>
                <h6>银联闪付</h6>
            </div>
            <div>
                <a href="创建通道（步骤2）.html" type="button" class="btn secondary small-btn">开通</a>
            </div>
        </div>

        <div class="box float-left">
            <div>
                <img class="logoImg" src="{{ static }}/images/baiduWallet.jpg"></img>
                <h6>百度钱包</h6>
            </div>
            <div>
                <a href="创建通道（步骤2）.html" type="button" class="btn secondary small-btn">开通</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
