{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

        {# 路径导航 #}
        {{
        breadCrumbAlpha.default(
        list = [
        {
        link: 'javascript:void(0);',
        text:'机构管理'
        },
        {
        text: '机构列表'
        }
        ]
        )
        }}
<div>
  <!--筛选-->
    <div>
      <form action="##" method="post" class="form-frame form-frame-filter fn-mb-10">
        <div class="form-layer-gray-box">
          <div class="form-group inline-block">
            <label class="form-control-label">
              <span>机构名称</span>
              <em>：</em>
            </label>
            <div class="form-control-wrap form-control-helper">
              <input type="text" class="form-control" placeholder="输入机构名称" data-toggle="searchInput">
            </div>
          </div>

          <div class="form-group inline-block">
            <label class="form-control-label">
              <span>所在地</span>
              <em>：</em>
            </label>
            <div class="form-control-wrap inline-block">
              <select class="form-control">
                <option value="省份">省份</option>
                <option value="1">北京</option>
                <option value="2">上海</option>
                <option value="3">广西</option>
              </select>
              <select class="form-control inline-block">
                <option value="省份">省份2</option>
                <option value="1">北京</option>
                <option value="2">上海</option>
                <option value="3">广西</option>
              </select>
            </div>
          </div>

          <button type="button" class="btn small-btn default">搜索</button>
          <button type="button" class="btn small-btn default">重置</button>

        </div>
      </form>
    </div>

  <!--表格-->
  <table class="table inverse">
    <colgroup>
      <col style="width: 80px">
      <col style="width: 150px">
      <col style="width: 50px">
      <col style="width: 100px">
      <col style="width: 150px">
      <col style="width:50px">
    </colgroup>
    <thead>
    <tr>
      <th>机构编号</th>
      <th>机构名称</th>
      <th>层级</th>
      <th>所在地</th>
      <th>创建时间</th>
      <th>状 态</th>
      <th class="th-ctrls">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1086</td>
      <td>招商银行济南分行</td>
      <td>3</td>
      <td>山东，济南</td>
      <td><span class="text-nowrap">2016-10-10</span>  <span class="text-nowrap">18:00:00</span></td>
      <td>启用</td>
      <td class="text-align-left">
        <a class="link-standard" href="机构列表（查看）.html">
          查看
        </a> &nbsp;&nbsp;
        <a class="link-standard" href="机构列表（编辑）.html">
          编辑
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（设置应用）.html">
          设置应用
        </a> &nbsp;&nbsp;
        <a class="link-standard" href="机构列表（管理员）.html">
          管理员
        </a>  &nbsp;&nbsp;
        <a href="#myModal" class="link-standard" data-toggle="modal" href="机构列表（禁用）.html">禁用</a>
      </td>
    </tr>

    <tr>
      <td>1086</td>
      <td>招商银行济南分行</td>
      <td>3</td>
      <td>山东，济南</td>
      <td><span class="text-nowrap">2016-10-10</span>  <span class="text-nowrap">18:00:00</span></td>
      <td>启用</td>
      <td class="text-align-left">
        <a class="link-standard" href="机构列表（查看）.html">
          查看
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（编辑）.html">
          编辑
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（收单费率）.html">
          收单费率
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（设置应用）.html">
          设置应用
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（管理员）.html">
          管理员
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（禁用）.html">
          启用
        </a>
      </td>
    </tr>

    <tr>
      <td>1086</td>
      <td>招商银行济南分行</td>
      <td>3</td>
      <td>山东，济南</td>
      <td><span class="text-nowrap">2016-10-10</span>  <span class="text-nowrap">18:00:00</span></td>
      <td>启用</td>
      <td class="text-align-left">
        <a class="link-standard" href="机构列表（查看）.html">
          查看
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（编辑）.html">
          编辑
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（收单费率）.html">
          收单费率
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（设置应用）.html">
          设置应用
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（管理员）.html">
          管理员
        </a>
      </td>
    </tr>

    <tr>
      <td>1086</td>
      <td>招商银行济南分行</td>
      <td>3</td>
      <td>山东，济南，济南，济南，济南，济南，济南，济南，济南，济南，济南，济南，济南</td>
      <td><span class="text-nowrap">2016-10-10</span>  <span class="text-nowrap">18:00:00</span></td>
      <td>启用</td>
      <td class="text-align-left">
        <a class="link-standard" href="机构列表（查看）.html">
          查看
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（收单费率）.html">
          收单费率
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（设置应用）.html">
          设置应用
        </a>&nbsp;&nbsp;
        <a class="link-standard" href="机构列表（管理员）.html">
          管理员
        </a>
      </td>
    </tr>

    </tbody>
  </table>


    <!--禁用弹层-->
    <div class="modal-background fade display-none in" id="myModal" role="dialog" tabindex="-1" aria-hidden="false" >
        <div class="modal-layer">
            <div class="modal-position">
                <div class="modal-wrap">
                    <div class="modal-body">
                        <div>
                            <button>确定</button>
                            <button>确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
