{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

<div class="fn-mt-10">
    <!--层级-->
    <div class="fn-ml-10">
        {# 路径导航 #}
        {{
        breadCrumbAlpha.default(
        list = [
        {
        link: 'javascript:void(0);',
        text:'机构管理'
        },
        {
        link: 'javascript:void(0);',
        text: '机构列表'
        },
        {
        text:'编辑子机构'
        }
        ]
        )
        }}
    </div>

    <!--基础信息-->
    <div class="form-frame">
        <div class="form-title">
            基础信息
        </div>
        <div class="form-layer-gray-box">
            <div class="form-layer1">
                <div class="form-layer2">

                </div>
            </div>
        </div>
    </div>


    <!--  联系方式-->
    <div class="form-frame">
        <div class="form-title">
            联系方式
        </div>
        <div class="form-layer-gray-box">
            <div class="form-layer1">
                <div class="form-layer2">

                </div>
            </div>
        </div>
    </div>



    <!--  联系方式-->
    <div class="form-frame">
        <div class="form-title">
            联系方式
        </div>
        <div class="form-layer-gray-box">
            <div class="form-layer1">
                <div class="form-layer2">

                </div>
            </div>
        </div>
    </div>

    <!--合同信息-->
    <div class="form-frame">
        <div class="form-title">
            合同信息
        </div>
        <div class="form-layer-gray-box">
            <div class="form-layer1">
                <div class="form-layer2">

                </div>
            </div>
        </div>
    </div>

    <!-- 结算账户-->
    <div class="form-frame">
        <div class="form-title">
            结算账户
        </div>
        <div class="form-layer-gray-box">
            <div class="form-layer1">
                <div class="form-layer2">

                </div>
            </div>
        </div>
    </div>

    <!--图片资料-->
    <div class="form-frame">
        <div class="form-title">
            图片资料
        </div>
        <div class="form-layer-gray-box">
            <div class="form-layer1">
                <div class="form-layer2">

                </div>
            </div>
        </div>
    </div>

    <!--提交 取消-->
    <div>

        <div class="text-align-center plural-btns fn-ma-20">
            <button type="button" class="btn default">提交</button>
            <a href="机构列表.html">
                <button type="button" class="btn default">取消</button>
            </a>
        </div>

    </div>
</div>
{% endblock %}
