{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text:'清分管理'
                },
                {
                    text: '清分文件'
                }
            ]
        )
    }}
    {# 页面跳转按钮 #}
    {{
        pageTabAlpha.default(
            list = [
                {
                    text:'清分文件',
                    isActive: 1
                },
                {
                	link: '清分管理-机构清分配置.html',
                    text: '机构清分配置'
                }
            ]
        )
    }}

{% endblock %}
