{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

{# 路径导航 #}
{{
breadCrumbAlpha.default(
list = [
{
link: '渠道合同管理-合同列表.html',
text:'渠道合同管理'
},
{
link: '渠道合同管理-合同列表.html',
text:'合同列表'
},
{
text: '查看合同'
}
]
)
}}

{# 主体信息渠道分润合同主体信息 #}
<div class="form-frame fn-mb-10">
    <form autocomplete="off">
        <div class="form-title">
            支付宝（招商银行总行）合同主体信息
        </div>

        <div class="fn-pa-5">
            <table class="table border-bottom inverse fn-mb-20 table-view">
                <tbody>
                <tr>
                    <th>商户名称</th>
                    <td>阿迪达斯成都分公司</td>
                    <th>招牌名</th>
                    <td>阿迪达斯</td>
                </tr>
                <tr>
                    <th>合同编号</th>
                    <td>2017-01-01</td>
                    <th>签购单名称</th>
                    <td>阿迪达斯</td>
                </tr>
                <tr>
                    <th>合同签署日期</th>
                    <td>2017-01-01</td>
                    <th>客户经理</th>
                    <td>刘丹</td>
                </tr>
                <tr>
                    <th>合同生效日期</th>
                    <td>2017-01-01</td>
                    <th>合同到期日期</th>
                    <td>2017-01-01</td>
                </tr>
                <tr>
                    <th>商户联系人</th>
                    <td>黄</td>
                    <th>商户联系人手机</th>
                    <td>13800138000</td>
                </tr><tr>
                    <th>是否自动续签</th>
                    <td>是</td>
                    <th>合同状态</th>
                    <td>生效</td>
                </tr><tr>
                    <th>合同名称</th>
                    <td colspan="3">阿迪达斯与招行支付宝的合同</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-title">
            支付宝（招商银行总行）结算账户信息
        </div>
        <div class="fn-pa-5">
            <table class="table border-bottom inverse fn-mb-20 table-view">
                <tbody>
                <tr>
                    <th>子商户号</th>
                    <td colspan="3">1223342323</td>
                </tr>
                <tr>
                    <th>商户分类</th>
                    <td>线下实体商户</td>
                    <th>签约扣率</th>
                    <td>0.600%</td>
                </tr>
                <tr>
                    <th>签约分润</th>
                    <td colspan="3">0.150%</td>
                </tr>

                <tr>
                    <th>PID</th>
                    <td colspan="3">XXX</td>
                </tr>
                <tr>
                    <th>AppID</th>
                    <td colspan="3">XXX</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-title">
            扫描附件信息
        </div>

        <div class="fn-pa-5">
            <table class="table bordered inverse table-view fn-mb-20">
                <tbody>
                <tr>
                    <th>营业执照扫描件</th>
                    <td colspan="3">
                        <div class="table-img-container fn-ml-5 float-left">
                            <a href="https://www.baidu.com/img/bd_logo1.png">
                                <img src="https://www.baidu.com/img/bd_logo1.png" />
                            </a>
                        </div>
                        <div class="table-img-container fn-ml-5 float-left">
                            <a href="https://www.baidu.com/img/bd_logo1.png">
                                <img src="https://www.baidu.com/img/bd_logo1.png" />
                            </a>
                        </div>
                        <div class="table-img-container fn-ml-5 float-left">
                            <a href="https://www.baidu.com/img/bd_logo1.png">
                                <img src="https://www.baidu.com/img/bd_logo1.png" />
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>营业执照扫描件</th>
                    <td colspan="3">
                        <div class="table-img-container fn-ml-5 float-left">
                            <a href="https://www.baidu.com/img/bd_logo1.png">
                                <img src="https://www.baidu.com/img/bd_logo1.png" />
                            </a>
                        </div>
                        <div class="table-img-container fn-ml-5 float-left">
                            <a href="https://www.baidu.com/img/bd_logo1.png">
                                <img src="https://www.baidu.com/img/bd_logo1.png" />
                            </a>
                        </div>
                        <div class="table-img-container fn-ml-5 float-left">
                            <a href="https://www.baidu.com/img/bd_logo1.png">
                                <img src="https://www.baidu.com/img/bd_logo1.png" />
                            </a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>


        <div class="text-align-center fn-mt-20">
            <a href="渠道合同管理-合同列表.html" class="btn default">返回</a>
        </div>

    </form>


</div>

{% endblock %}


{% block js %}
<script src="{{ static }}/js/webuploader/webuploader.js"></script>
<script src="{{ static }}/js/webuploader/uploader.js"></script>
{% endblock %}

{% block jsPage %}
<script type="text/javascript">
    /**
     * uploadSuccess 上传成功后回调
     * @return {[type]} [description]
     */
    function uploadSuccess(el, file, data) {
        /*var names = data.name.split('.');
         var name = names[0].length > 13 ? names[0].substring(0, 13) + "..." : names[0];
         $(el).siblings(".uploadName").val(data.name);
         $(el).siblings(".upload-name").text(name + "." + names[1]);
         $(el).siblings(".upload-path").val(data.path);
         $(el).siblings(".upload-size").val(data.size);*/
        // todo: test
        $(el).siblings(".upload-name").html(file.name);

    }
    $(function () {

        $(".j-type").on("change", function () {
            var isPrivateChecked = $("#private").prop("checked");
            if (isPrivateChecked) {
                $("#identity").removeClass("display-none");
            } else {
                $("#identity").addClass("display-none");
            }
        });

        /*$('.j-upload-btn').fileUpload({
         swf: './static/js/webuploader/Uploader.swf',
         sendurl: 'http://localhost/fileupload.php',
         //fileVal: 'FileData',
         success: uploadSuccess
         });*/
        //初始化上传控件
        $(".upload-img").InitUploader({
            sendurl: "http://192.168.7.129/fileupload.php",
            swf: "./static/js/webuploader/uploader.swf"
        });

    });
</script>
{% endblock %}
