{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: '渠道合同管理-合同列表.html',
                    text:'渠道合同管理'
                },
                {
                    link: '渠道合同管理-合同列表.html',
                    text:'合同列表'
                },
                {
                    text: '修改合同'
                }
            ]
        )
    }}

{# 主体信息渠道分润合同主体信息 #}
<div class="form-frame fn-mb-10">
    <form autocomplete="off">
        <div class="form-title">
            支付宝（招商银行总行）合同主体信息
        </div>

        <div class="form-layer1">
            <div class="form-layer2">

                {# 商户名称 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <span>商户名称</span>
                        <em>：</em>
                    </label>
                    <div class="form-control-wrap">
                        <span>红旗连锁有限公司</span>
                    </div>
                </div>
                {# 招牌名 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <span>招牌名</span>
                        <em>：</em>
                    </label>
                    <div class="form-control-wrap">
                        <span>红旗连锁</span>
                    </div>
                </div>

                {# 合同编号 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <b>*</b>
                        <span> 合同编号 </span>
                        <em> : </em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="***" class="form-control" id="***" placeholder="" value="123-456"/>
                        <a class="form-control-tools-link">自动生成</a>
                    </div>
                </div>

                {# 网购单名称 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <b>*</b>
                        <span> 网购单名称 </span>
                        <em> : </em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="***" class="form-control" id="***" placeholder=""  value="红旗连锁" />
                    </div>
                </div>

                {# 合同签署日期 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <b> * </b>
                        <span>合同签署日期</span>
                        <em>：</em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="***">
                    </div>
                </div>
                {# 客户经理 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <b>*</b>
                        <span> 客户经理 </span>
                        <em> : </em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="***" class="form-control" id="***" placeholder=""  value="招商银行" />
                    </div>
                </div>
                {# 合同生效日期 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <b> * </b>
                        <span>合同生效日期</span>
                        <em>：</em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="***">
                    </div>
                </div>
                {# 合同到期日期 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <b> * </b>
                        <span>合同到期日期</span>
                        <em>：</em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="***">
                    </div>
                </div>

                {# 商户联系人 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <b>*</b>
                        <span> 商户联系人 </span>
                        <em> : </em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="***" class="form-control" id="***" placeholder=""  value="齐齐" />
                    </div>
                </div>

                {# 商户联系人手机 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <b>*</b>
                        <span> 商户联系人手机 </span>
                        <em> : </em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="***" class="form-control" id="***" placeholder=""  value="13800138000" />
                    </div>
                </div>
                {# 是否自动续签 #}
                <div class="form-group">
                    <label class="form-control-label">
                        <b> * </b>
                        <span> 是否自动续签 </span>
                        <em> : </em>
                    </label>
                    <div class="form-control-wrap">
                        <div class="form-control-check">
                            <label>
                                是
                                <input type="radio" name=""/>
                            </label>
                            <label>
                                否
                                <input type="radio" name=""/>
                            </label>
                        </div>
                    </div>
                </div>
                {# 合同名称 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <span> 合同名称 </span>
                        <em> : </em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="***" class="form-control" id="***" placeholder=""  value="" />
                    </div>
                </div>


            </div>
        </div>

        <div class="form-title">
            支付宝（招商银行总行）结算账户信息
        </div>

        <div class="form-layer1">
            <div class="form-layer2">
                {# 子商户号 #}
                <div class="form-group">
                    <label class="form-control-label" for="***">
                        <b>*</b>
                        <span> 子商户号 </span>
                        <em> : </em>
                    </label>
                    <div class="form-control-wrap">
                        <input type="***" class="form-control" id="***" placeholder=""  value="2324232334" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-title">
            扫描附件信息
        </div>

        <div class="form-group">
            <div class="form-control-wrap text-align-left margin-top-20px">
                <a href="偿债方式-个人偿债-验证结果.html" class="btn primary" role="button">下一步</a>
            </div>
        </div>

    </form>



</div>

{% endblock %}

