{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

<div class="fn-mt-10">
    <!--层级-->
    <div class="fn-ml-10">
        {# 路径导航 #}
        {{
        breadCrumbAlpha.default(
        list = [
        {
        link: 'javascript:void(0);',
        text:'机构管理'
        },
        {
        link: 'javascript:void(0);',
        text: '机构列表'
        },
        {
        link: 'javascript:void(0);',
        text:'管理员账号'
        },
        {
        text:'查看'
        }
        ]
        )
        }}
    </div>

    <!--账号信息-->
    <div>
        <div class="tables-title">
            账号信息
        </div>
        <table class="table bordered table-view fn-mb-20">
            <tbody>
            <tr>
                <th>账号名称</th>
                <td>yoiuug</td>
                <th>姓名</th>
                <td>张三</td>
            </tr>
            <tr>
                <th>手机号码</th>
                <td>139 0000 0000</td>
                <th>邮箱</th>
                <td>zhangsan@hotmailcom</td>
            </tr>
            <tr>
                <th>账号角色</th>
                <td>超级管理员</td>
                <th>创建时间</th>
                <td>
                    <span>2016-10-10</span>
                    <span>18:00:00</span>
                </td>
            </tr>
            <tr>
                <th>状态</th>
                <td>启用</td>
                <th></th>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--返回-->
    <div>
        <div class="text-align-center fn-mb-20">
            <a href="机构列表（管理员）.html">
                <button type="button" class="btn default">返回</button>
            </a>
        </div>
    </div>

</div>

{% endblock %}
