{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

<div class="fn-mt-10">
    <!--层级-->
    <div class="fn-ml-10">
        {# 路径导航 #}
        {{
        breadCrumbAlpha.default(
        list = [
        {
        link: 'javascript:void(0);',
        text:'机构管理'
        },
        {
        link: 'javascript:void(0);',
        text: '机构列表'
        },
        {
        link: 'javascript:void(0);',
        text:'管理员账号'
        },
        {
        text:'编辑'
        }
        ]
        )
        }}
    </div>

    <!--编辑信息-->

    <div class="form-frame">
        <div class="form-title">
            编辑信息
        </div>
        <div class="form-layer1">
            <div class="form-layer2">
                <form autocomplete="off" id="form">

                    <!--账号名称-->
                    <div class="form-group">
                        <label class="form-control-label" for="form-control-5">
                                                    <span>账号名称
                                                    </span>
                            <em>：
                            </em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-data">
                                yondfsaa
                            </div>
                        </div>
                    </div>

                    <!--登录密码-->
                    <div class="form-group">
                        <label class="form-control-label" for="form-control-example2">
                            <b>*
                            </b>
                            <span>登录密码
                                                    </span>
                            <em>：
                            </em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="password" class="form-control" placeholder="">
                        </div>
                    </div>

                    <!--账号角色-->
                    <div class="form-group">
                        <label class="form-control-label" for="form-control-5">
                                                    <span>账号角色
                                                    </span>
                            <em>：
                            </em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-data">
                                超级管理员
                            </div>
                        </div>
                    </div>

                    <!--姓名-->
                    <div class="form-group">
                        <label class="form-control-label" for="form-control-example1">
                            <b>*
                            </b>
                            <span>姓名</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <!--手机号码-->
                    <div class="form-group">
                        <label class="form-control-label" for="form-control-example1">
                            <b> * </b>
                            <span> 手机号码 </span>
                            <em> ： </em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="***" class="form-control" placeholder="15918728968" />
                        </div>
                    </div>

                    <!--邮箱-->
                    <div class="form-group">
                        <label class="form-control-label" for="form-control-example1">
                            <b>*
                            </b>
                            <span>邮箱</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" placeholder="zhangsan@hotmailcom">
                        </div>
                    </div>

                    <!--提交 取消-->
                    <div class="text-align-center plural-btns fn-ma-20">
                        <button type="button" class="btn primary">提交</button>
                        <a href="机构列表（管理员）.html">
                            <button type="button" class="btn default">取消</button>
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}


{% block jsPage %}
<script>
//    $(function(){
//        /**
//         * 统一显示验证错误信息
//         */
//        var $form = $('#form').validation({
//            // 验证项
//            rules: {
//                password: "required",
//                telphone: {
//                    required: true,
//                    telphone: true
//                },
//                name: {
//                    required: true,
//                    name: true
//                },
//                mail: {
//                    required: true,
//                    mail: true
//                }
//            },
//            // 错误提示
//            messages: {
//                name: {
//                    required: "请输入名称",
//                    name: "此为必填项"
//                },
//                password: {
//                    required: "请输入登录密码"
//                },
//                mail: {
//                    required: "请输入邮箱号码"
//                },
//                telphone: {
//                    required: "请输入手机号码",
//                    telphone: "手机号码格式有误"
//                }
//            },
//            // 提交
//            submitHandler: function(form) {
//                // 直接提交
//                // form.submit();
//            }
//        });
//    })

</script>
{% endblock %}



