{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list=[
                {
                    link: '系统管理-角色管理.html',
                    text: '系统管理'
                },
                {
                    link: '系统管理-角色管理.html',
                    text: '角色管理'
                },
                {
                    text: '编辑角色'
                }
            ]
        )
    }}

    {# 表单 #}
    <form action="" autocomplete="off">
        <div class="form-frame fn-mt-20">
            <div class="form-layer1">
                <div class="form-layer2">

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>角色名称
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" value="运营">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                <span>备注
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" rows="5" style="max-width: 100%; width: 100%; height: auto">新员工</textarea>
                            </div>
                        </div>

                </div>
            </div>
        </div>

        {# 权限 #}
        <h3 class="fn-mt-20 fn-mb-10">权限设置</h3>
        <div class="permission-table-wrap">
            <div class="ptName">
                <h3>机构管理</h3>
            </div>
            <div class="ptb">
                <table class="table table-border fn-mb-10">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt1">
                        <tr>
                            <td rowspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt1 :checkbox">
                                    本机构详情
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    查看
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    核身认证
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-border">
                    <colgroup>
                        <col style="width: 30%">
                        <col>
                    </colgroup>
                    <tbody id="pt2">
                        <tr>
                            <td rowspan="2">
                                <label class="table-checked-all">
                                    <input type="checkbox" data-toggle="checkAll" data-target="#pt2 :checkbox">
                                    机构列表
                                </label>
                            </td>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    查看
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="table-checked-all">
                                    <input type="checkbox">
                                    编辑
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-align-center">
            <div class="plural-btns btn-with-viceLink fn-mt-20">
                <button type="button" class="btn primary">提交</button>
                <a href="系统管理-角色管理.html" class="btn links">取消</a>
            </div>
        </div>

    </form>

{% endblock %}
