{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list=[
                {
                    link: '系统管理-账号管理.html',
                    text: '系统管理'
                },
                {
                    link: '系统管理-账号管理.html',
                    text: '账号管理'
                },
                {
                    text: '添加账号'
                }
            ]
        )
    }}

    {# 表单 #}
    <form action="" autocomplete="off">
        <div class="form-frame fn-mt-20">
            <div class="form-layer1">
                <div class="form-layer2">
                    <form autocomplete="off">

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>账号名称
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>姓名
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>手机号码
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>邮箱
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>账号角色
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" style="padding-top: 8px;">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="form-control-example2">
                                <b>*
                                </b>
                                <span>登录密码
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <input type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                <span>备注
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" rows="5" style="max-width: 100%; width: 100%; height: auto"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-control-wrap text-align-left plural-btns margin-top-20px">
                                <button type="button" class="btn primary" id="submit">提交</button>
                                <a href="系统管理-账号管理.html" class="btn links">取消</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block jsPage %}
<script>
    $(function(){
        $("#submit").on("click",function(){
            $.tipsModal({
                type : 'success',   //success info error
                title : '<span class="success-FontColor2">提交成功！</span>',
                content : '即将跳转到账户管理页面',
                // buttons : {  //按钮可以只传ok或cancel
                //     ok : {
                //     text : '确定', callback : function () {
                //             console.log('确定');
                //         }
                //     }
                // }
            });
        });
    });
</script>
{% endblock %}
