{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list=[
                {
                    link: '系统管理-账号管理.html',
                    text: '系统管理'
                },
                {
                    link: '系统管理-账号管理.html',
                    text: '账号管理'
                },
                {
                    text: '编辑账号'
                }
            ]
        )
    }}


    {# 表单 #}

{% endblock %}
