{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

	{# 菜单导航 #}
	{{ navigator.current('nav3') }}

	<ol class="breadcrumb fn-mb-10">
		<li>
			<a href="03提现明细.html">提现明细 <i class="icon-chevron-thin-right"></i></a>
		</li>
		<li>
            余额提现到银行账户
		</li>
	</ol>

	{# 步骤 #}
	{{ Step.render('pass1', '提现信息', '提现信息确认', '提现结果') }}


	{# 表单 #}
	<div class="form-frame">
		{# title #}
		<div class="tables-title form-title">
			<span>余额提现到银行账户</span>
			<div class="table-title-btns">
				<a href="javascript:history.go(-1)">返回 <i class="icon-chevron-thin-right"></i></a>
			</div>
		</div>
		<div class="form-layer1">
			<div class="form-layer2">
				<form action="03提现明细_提现确认.html">
					{# 您的账户 #}
					<div class="form-group">
						<label class="form-control-label">
							<span>您的账户</span>
							<em>：</em>
						</label>

						<div class="form-control-wrap">
							<div class="form-control-data">
								<span id="companyName">XXX(广东)有限公司</span>
							</div>
						</div>
					</div>
					{# 账户余额 #}
					<div class="form-group">
						<label class="form-control-label">
							<span>账户余额</span>
							<em>：</em>
						</label>

						<div class="form-control-wrap">
							<div class="form-control-data"><span>6,814,000 元</span></div>
						</div>
					</div>

					{# 可提现金额 #}
					<div class="form-group">
						<label class="form-control-label">
							<span>可提现金额</span>
							<em>：</em>
						</label>
						<div class="form-control-wrap">
							<div class="bubble-tip-wrap" style="left: 120px;bottom: 40px;"><p class="bubble-tip">可提金额不对？请拨打<br/>400-106-3398咨询<i></i></p> </div>
							<div class="form-control-data">
								<strong class="h3 warning-FontColor">14,000</strong>&nbsp;元
								<div class="tooltips-icon">
									i
									<div class="tooltips">
										部分款项未到期
										<span class="tips-arrow-border"></span>
										<span class="tips-arrow"></span>
									</div>
								</div>
                                <a href="03提现明细.html" class="link-standard fn-ml-10">提现明细</a>
							</div>
						</div>
					</div>

					{# 请输入提现金额 #}
					<div class="form-group">
						<label class="form-control-label" for="form-control-withdrawFull">
							<span>
								请输入提现金额
							</span>
							<em>
								：
							</em>
						</label>
						<div class="form-control-wrap">
							<div class="form-control-withdrawFull">
								<input type="text" class="form-control" tabindex="1" id="form-control-withdrawFull">
								<button type="button" id="j-pick" class="btn form-control-withdrawFull-btn">全部提取</button>
								<input type="hidden" name="mybill" value="30000" />
							</div>
						</div>
					</div>


					{# 提现到 #}
					<div class="form-group">
						<label class="form-control-label">
							<span>提现到</span>
							<em>：</em>
						</label>
            <div class="form-control-wrap">
              <div class="form-control-dropdown">
                                            <span class="form-control-dropdown-btn">
                                                <i></i>
                                            </span>
                <div class="form-control-dropdown-value">
                  <span class="bank-icon icon-cmb" title="招商银行"></span>
                  <span class="form-control-bank-card">招商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                </div>
                <ul class="form-control-dropdown-menu">
                  <li title="option">
                    <span class="bank-icon icon-cmb" title="招商银行"></span>
                    <span class="form-control-bank-card">招商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-icbc" title="工商银行"></span>
                    <span class="form-control-bank-card">工商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-ccb" title="建设银行"></span>
                    <span class="form-control-bank-card">建设银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-abc" title="农业银行"></span>
                    <span class="form-control-bank-card">农业银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-boc" title="中国银行"></span>
                    <span class="form-control-bank-card">中国银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-comm" title="交通银行"></span>
                    <span class="form-control-bank-card">交通银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-pingan" title="平安银行"></span>
                    <span class="form-control-bank-card">平安银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-psbc" title="邮政银行"></span>
                    <span class="form-control-bank-card">邮政银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-shbc" title="上海银行"></span>
                    <span class="form-control-bank-card">上海银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-wzbc" title="温州银行"></span>
                    <span class="form-control-bank-card">温州银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-spdb" title="浦发银行"></span>
                    <span class="form-control-bank-card">浦发银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-ecitic" title="中信银行"></span>
                    <span class="form-control-bank-card">中信银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-cgbchina" title="广发银行"></span>
                    <span class="form-control-bank-card">广发银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-cmbc" title="民生银行"></span>
                    <span class="form-control-bank-card">民生银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-cib" title="兴业银行"></span>
                    <span class="form-control-bank-card">兴业银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-cebbank" title="光大银行"></span>
                    <span class="form-control-bank-card">光大银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-srcb" title="上海农商银行"></span>
                    <span class="form-control-bank-card">上海农商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-bankofbeijing" title="北京银行"></span>
                    <span class="form-control-bank-card">北京银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-bjrcb" title="北京农商银行"></span>
                    <span class="form-control-bank-card">北京农商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-szfz" title="深圳发展银行"></span>
                    <span class="form-control-bank-card">深圳发展银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-nbcb" title="宁波银行"></span>
                    <span class="form-control-bank-card">宁波银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-hzbank" title="杭州银行"></span>
                    <span class="form-control-bank-card">杭州银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-dongguanbank" title="东莞银行"></span>
                    <span class="form-control-bank-card">东莞银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-hsbc" title="汇丰银行"></span>
                    <span class="form-control-bank-card">汇丰银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-hkbea" title="东亚银行"></span>
                    <span class="form-control-bank-card">东亚银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-961111" title="广州农商银行"></span>
                    <span class="form-control-bank-card">广州农商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-hxb" title="华夏银行"></span>
                    <span class="form-control-bank-card">华夏银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-crbank" title="华润银行"></span>
                    <span class="form-control-bank-card">华润银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-lanzhou" title="兰州银行"></span>
                    <span class="form-control-bank-card">兰州银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-hebbank" title="河北银行"></span>
                    <span class="form-control-bank-card">河北银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-hsbank" title="微商银行"></span>
                    <span class="form-control-bank-card">微商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-qdccb" title="青岛银行"></span>
                    <span class="form-control-bank-card">青岛银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-ydnsh" title="尧都农商"></span>
                    <span class="form-control-bank-card">尧都农商&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-zheshang" title="浙商银行"></span>
                    <span class="form-control-bank-card">浙商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-nccbank" title="南昌银行"></span>
                    <span class="form-control-bank-card">南昌银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-cbhb" title="渤海银行"></span>
                    <span class="form-control-bank-card">渤海银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-egbank" title="恒丰银行"></span>
                    <span class="form-control-bank-card">恒丰银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                  <li title="option">
                    <span class="bank-icon icon-tianjinbank" title="天津银行"></span>
                    <span class="form-control-bank-card">天津银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                  </li>
                </ul>
              </div>
            </div>
					</div>

					{# 提现账户开户省市 #}
					<div class="form-group has-error" style="*z-index: 4">
						<label for="bank" class="form-control-label">
							<span>
								提现账户开户省市
							</span>
							<em>
								：
							</em>
						</label>
						<div class="form-control-wrap">
							{{ Form.city() }}

                            <div class="form-notice">
                                <i></i>
                                表单填写错误
                            </div>
						</div>
					</div>

					{# 提现账户开户支行 #}
					<div class="form-group"  style="*z-index: 2">
						<label for="bank" class="form-control-label">
							<span>
								提现账户开户支行
							</span>
							<em>
								：
							</em>
						</label>
						<div class="form-control-wrap">
							<div class="form-control-dropdown with-keyin">
								<span class="form-control-dropdown-btn">
									<i></i>
								</span>
								<input type="text" data-toggle="dropdown" tabindex="3" class="form-control" id="bank" placeholder="请选择银行" value="">
								<ul class="form-control-dropdown-menu">
									<li title="工商银行天河支行">
										工商银行天河支行
									</li>
									<li title="工商银行体育西支行">
										工商银行体育西支行
									</li>
									<li title="农业银行体育西支行">
										农业银行体育西支行
									</li>
									<li title="招商银行体育西支行">
										农业银行体育西支行
									</li>
								</ul>
							</div>
						</div>
					</div>

					{# 备注 #}
					<div class="form-group" style="*z-index: 1">
						<label for="remark" class="form-control-label">
							<span>
								备注
							</span>
							<em>
								：
							</em>
						</label>
						<div class="form-control-wrap">
							<input type="text" name="remark" id="remark" class="form-control">
						</div>
					</div>

					{# 下一步 #}
					<div class="form-group">
						<div class="form-control-wrap text-align-left plural-btns margin-top-20px">
							<button type="submit" class="btn primary">下一步</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>


{% endblock %}

{% block jsPage %}
<script>
	~(function( $ ) {
		var pageInit = function() {
			// 全部提取
			$('#j-pick').on('click', function() {
				var $that = $(this);
				$that.prev(':input').val(function() {
					return $that.next(':input').val();
				})
			})

			// 根据类型切换获取不同的银行账号
			var $bindCard = $('#j-user-bind-card');
			$('.j-user-type').on('click', function() {
				var thisVal = $(this).val();
				// todo: 异步
				// test
				var content = '<span class="bank-icon icon-cmb" title="招商银行"></span>'+
						'<span class="form-control-bank-card">招商银行'+ thisVal +'&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>';
				$bindCard.html(content);
			});
		};

		$(document).ready(pageInit)
	})( jQuery );

	var setCompanyName = function() {
		var $id =  $("#companyName");
		var cpN = $id.text();
		if(cpN.indexOf("(") > 0 || cpN.indexOf("（") > 0) {
			$id.after('<div class="form-control-wrap select-company-name"><p>请确认您的账户名称中括号的中英文输入，账户名称确认后不可更改，请谨慎操作！</p> <div class="form-control-check"> <label><input type="radio" name="companyName"/><i></i></label><label><input type="radio" name="companyName"/><i></i></label></div></div>')
			if(cpN.indexOf("(") > 0) {
				$($id.siblings('.select-company-name').find("label")[0]).find("i").text(cpN);
				var newcpN= cpN.replace("(", "（").replace(")", "）");
				$($id.siblings('.select-company-name').find("label")[1]).find("i").text(newcpN);
			$($id.siblings('.select-company-name').find("label")[0]).find("input").attr("checked",'true');
			} else {
				$($id.siblings('.select-company-name').find("label")[1]).find("i").text(cpN);
				var newcpN= cpN.replace("（", "(").replace("）", ")");
				$($id.siblings('.select-company-name').find("label")[0]).find("i").text(newcpN);
			$($id.siblings('.select-company-name').find("label")[1]).find("input").attr("checked",'true');
			}
		}
		$id.siblings('.select-company-name').find("input:radio").on("click",function(){
			$("#companyName").text($(this).siblings("i").text());
		});
	};
	setCompanyName();
	
</script>
{% endblock %}

{% block jsPage %}
<script>
	$(function() {
		$(".bubble-tip-wrap i").on("click",function(){
			$(".bubble-tip-wrap").remove();
		})
	})
</script>
{% endblock %}


