{% extends "_layout/casher-frame.html" %}

{# content #}
{% block content %}
    <!-- v3.4 充值申请已提交 -->
    <div class="box-border">
        <div class="box-bd">
            <ul class="process">
                <li class="process-bg-wrap">
                    <div class="process-bg"></div>
                </li>
                <li class="left has-correct">
                    <div class="process-item">
                        <div class="process-dot apply-circle-success"><i class="apply-icon-edit"></i></div>
                        <p>2016-03-22 12:22:22</p>
                        <h3>充值申请已提交</h3>
                    </div>
                </li>
                <li class="center">
                    <div class="process-item">
                        <div class="process-dot"><i class="apply-icon-process"></i></div>
                        <p>2016-03-22 12:22:22</p>
                        <h3>银行处理中</h3>
                    </div>
                </li>
                <li class="right">
                    <div class="process-item">
                        <div class="process-dot"><i class="apply-icon-money"></i></div>
                        <p>&nbsp;</p>
                        <h3>充值到账</h3>
                    </div>
                </li>
            </ul>
        </div>
        <div class="box-ft">
            <p>请留意您的账户资金变化和相关充值记录状态。</p>
            <p>
                <a href="01账户总览.html" class="btn primary">返回账户总览</a>
            </p>
        </div>
    </div>

    <div class="box-border">
        <div class="box-bd">
            <ul class="process">
                <li class="process-bg-wrap">
                    <div class="process-bg"></div>
                </li>
                <li class="left has-correct">
                    <div class="process-item">
                        <div class="process-dot apply-circle-success"><i class="apply-icon-edit"></i></div>
                        <p>2016-03-22 12:22:22</p>
                        <h3>充值申请已提交</h3>
                    </div>
                </li>
                <li class="center">
                    <div class="process-item">
                        <div class="process-dot"><i class="apply-icon-process"></i></div>
                        <p>2016-03-22 12:22:22</p>
                        <h3>银行处理中</h3>
                    </div>
                </li>
                <li class="right">
                    <div class="process-item">
                        <div class="process-dot"><i class="apply-icon-money"></i></div>
                        <p>&nbsp;</p>
                        <h3>充值到账</h3>
                    </div>
                </li>
            </ul>
        </div>
        <div class="box-ft">
            <table class="table table-bordered inverse">
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>商品名称</th>
                    <th>金额（元）</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SHAJ12545788645</td>
                    <td>聚合物锂离子电池US0162</td>
                    <td>22,000.00</td>
                    <td>无</td>
                </tr>
                </tbody>
            </table>
            <div class="notice-box"><div class="form-control-check"><label><input type="checkbox"> 同意充值金额到账时，自动扣款支付该笔订单</label></div><div>
            <p>
                <a href="01账户总览.html" class="btn primary" style="margin-top:0;">确认返回账户总览</a>
            </p>
        </div>
    </div>

{% endblock %}


