{% extends "_layout/wrapper.html" %}

{# content内容 #}
{% block content %}

<div class="mod-agreement">
	<div class="ui-tit">
		<h2>如何查询“银联在线支付”服务是否开通</h2>
	</div>
	<div class="ui-content">
		<div class="content">
			<p>若您的银行卡没有开通银联在线支付业务，则可能导致您无法在本平台绑定银行卡，下面以招商银行为例，简要说明如何查询或开通“银联在线支付”业务。</p>
			<h3 style="margin-top: 20px;">step1. 登录网银</h3>
			<p>点击下方银行名称，跳转至网银登陆页面，并填写登录信息登录网银。</p>
			<p style="padding-bottom: 20px" class="link-wrap-p">
				<a href="#" class="link-standard">中国工商银行</a>
				<a href="#" class="link-standard">中国建设银行</a>
					<a href="#" class="link-standard">中国农业银行</a>
						<a href="#" class="link-standard">中国银行</a>
							<a href="#" class="link-standard">交通银行</a>
				<a href="#" class="link-standard">光大银行</a>
				<a href="#" class="link-standard">中信银行</a>
				<a href="#" class="link-standard">兴业银行</a>
				<a href="#" class="link-standard">上海银行</a>
				<a href="#" class="link-standard">北京银行</a>
				<a href="#" class="link-standard">平安银行</a>
				<a href="#" class="link-standard">招商银行</a>
				<a href="#" class="link-standard">民生银行</a>
				<a href="#" class="link-standard">广发银行</a>
				<a href="#" class="link-standard">浙商银行</a>
			</p>
			<p class="fn-mt-15 text-align-center" style="margin-top: 20px;">
				<img src="{{static}}/images/tutorials/t1.jpg" width="732" height="362" alt="">
			</p>
			<h3 style="margin-top: 20px;">step2. 在网银页面找到“网上支付/电子支付—>银联在线支付“，点击”银联在线支付“</h3>
			<p class="fn-mt-15 text-align-center" style="margin-top: 20px;">
				<img src="{{static}}/images/tutorials/t2.jpg" width="703" height="387" alt="">
			</p>
			<h3 style="margin-top: 20px;">step3. 查看并开通银联在线支付业务</h3>
			<p>查看银行卡的银联在线支付功能的状态是否为“开启”状态，若为”关闭“状态，点击操作区”开通“按钮开通此业务。</p>
			<p class="fn-mt-15 text-align-center" style="margin-top: 20px;">
				<img src="{{static}}/images/tutorials/t3.jpg" width="632" height="330" alt="">
			</p>
			<p>设置银联在线支付业务每日限额，点击”下一步“</p>
			<p class="fn-mt-15 text-align-center" style="margin-top: 20px;">
				<img src="{{static}}/images/tutorials/t4.jpg" width="749" height="307" alt="">
			</p>
			<p>完成手机号码及取款密码验证，点击”确定“完成开通。</p>
			<p class="fn-mt-15 text-align-center" style="margin-top: 20px;">
				<img src="{{static}}/images/tutorials/t5.jpg" width="710" height="298" alt="">
			</p>
		</div>


	</div>
</div>
{% endblock %}