{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

<div class="mod-agreement">
  <div class="ui-tit">
    <h2>关于XX宝（产品名称）系统农历春节期间升级维护的通知</h2>
  </div>
  <div class="ui-content">
    <div class="content">
      <h3 style="margin-top: 20px;">尊敬的客户：</h3>
      <p>您好！</p>
      <p style="padding-bottom: 20px">为提供更优质的客户服务，XX宝（产品名称）将于2016年2月4日至2016年2月16日进行系统升级维护，届时将临时暂停XX宝的充值及提现功能，充值及提现功能将于2016年2月17日恢复正常，其他业务仍正常运行。如您有余额增值及提现的需要，请在2016年2月3日前进行充值或提现。
      </p>
      <p>如有疑问，请您及时与我司联系。</p>
      <p>感谢您对我司工作的理解和支持！</p>
      <p class="text-align-right" style="padding-top: 100px">广东钱途互联商务服务有限公司<br>
        　　2016年X月X日
      </p>
    </div>


  </div>
</div>

{% endblock %}
