{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

<div class="mod-agreement">
  <div class="ui-tit">
    <h2>用户服务协议</h2>
    <p>版本号:2016年V4</p>
  </div>

  <div class="ui-content">
    <h3>
      协议须知
    </h3>
    <div class="content">
      <p>
        <b>1.在您使用广东钱途互联商务服务有限公司所提供的“E+账户”系统（以下可简称“本系统”）及其提供的相关功能及服务前，请您认真阅读、充分理解本协议各条款内容并选择接受或不接受本协议。本协议由您（以下称“甲方”）和广东钱途互联商务服务有限公司（以下称“乙方”）共同签署。当甲方按照提示填写信息、阅读并同意本协议且完成全部注册程序或使用本产品所提供的服务后，即表示甲方已充分阅读、理解并同意完全接受本协议的全部内容。除非甲方接受本协议所有条款，否则甲方无权使用本系统提供的服务。如甲方对协议有任何疑问的，应向客服咨询。</b>
      </p>
      <p>
        <b>
          2.本系统面向中华人民共和国境内合资格的自然人、企业或组织提供的服务。作为本系统的用户，甲方必须为具有完全民事权利能力及民事行为能力的中国大陆公民，或符合本系统及乙方合作机构规定的企业或组织。否则，甲方应立即停止在本系统的注册和本系统服务使用，乙方亦有权随时终止甲方的注册进程及服务使用。
        </b>
      </p>
    </div>
    <h3>一、 注册登录</h3>
    <div class="content">
      <ul>
        <li>
          1.在注册和使用本系统服务期间，甲方应根据相应界面的提示及要求如实提供其真实资料和信息，其中：
          <p>（1）如甲方为自然人的，则需提供的个人身份信息包括姓名、手机号码、身份证号码、银行卡信息等。</p>
          <p>（2）如甲方为企业或其他组织，则需提供的基本身份信息包括企业名称、证件类型及号码、银行账户信息、经办人基本信息及手机号码等。</p>
          <p>
            （3）本系统的用户可为乙方认可的第三方平台会员。来自合格第三方的会员注册并使用本系统的，即视为其同意委托第三方向乙方提供与上述用户身份信息及相关资料。如甲方为前述第三方会员的，应确保自身在第三方注册信息的真实性和完整性，并应严格遵守第三方对于会员的相关使用规定。如因甲方违反第三方规定而无法登录本系统及由此造成的声誉、资金、设备等一切损失与乙方无关。</p>
          <p>
            （4）甲方使用本系统过程中所涉及的所有通知将通过本系统、甲方在本系统中预留的联系方式或其他甲方确认的通知方式发送。甲方应自行确保前述信息的真实和有效性，对于发生变更的，应自行及时进行维护。甲方应自行承担因未及时维护上述信息产生的直接或间接的任何支出或损失，乙方不对此承担任何责任。</p>
        </li>
        <li>
          2.甲方须自行负责对其账号和密码保密，并保证其账号及密码的使用安全。通过甲方账户及密码在本系统进行的任何操作均视为甲方自身的行为，相应的法律后果亦由甲方承担，甲方不得以非本人操作为由主张撤销或变更，且应对此承担全部责任（包括但不限于决策失误、操作不当、遗忘或泄露密码、密码被他人破解、用户使用的计算机系统被第三方侵入等而造成的损失）。除非有法律规定或司法裁定，且征得乙方的同意，否则，甲方的登录名和密码不得以任何方式转让、赠与或继承。如乙方同意甲方设置昵称的，甲方设置的昵称不得侵犯或涉嫌侵犯他人合法权益。
        </li>
        <li>
          3.甲方同意：
          <p>
            (1) 如发现任何人未经授权使用甲方的登录名和密码的情况，应立即通知乙方，并授权乙方暂停提供服务及展开调查，根据调查结果作出相应处理；
          </p>
          <p>
            (2)
            确保甲方在每次结束使用本系统时，以正确方式离开本系统，注销或删除上网记录。乙方不因甲方未能遵守本款规定而发生的任何损失或损毁负责。甲方理解乙方对甲方请求采取行动需要合理时间，乙方对在采取行动前已经产生的后果（包括但不限于甲方的任何损失）不承担任何责任。
          </p>
        </li>
      </ul>
    </div>
    <h3>二、服务概述</h3>
    <div class="content">
      <h4>（一）银行账户绑定</h4>
      <ul>
        <li>
          1.	银行卡（银行账户）绑定服务，是指由乙方向甲方提供的银行卡（银行账户）绑定并通过乙方撮合进行投资支付或获得相关回款的服务。甲方使用乙方本协议项下相关服务前，需要在相关平台页面输入有关信息，经乙方与银行信息交互及系统校验通过后完成绑定。
        </li>
        <li>
          2.	相关平台服务的上述流程和功能可能调整和变更，具体以乙方实际提供为准。
        </li>
        <li>
          3.	甲方应当妥善保管其交易、支付等密码及其手机号码等，若因甲方原因造成支付密码或验证码被盗用，乙方不承担任何责任。
        </li>
        <li>
          4.	在使用相关平台银行卡（银行账户）绑定服务前，用户需符合下列要求：
          <p>（1） 用户使用本服务符合当地的法律法规，并能独立承担法律责任。</p>
          <p>（2） 用户已开设了有效的银行账户。</p>
          <p>（3） 用户需提供真实、有效、完整的银行卡（银行账户）等信息，并及时更新。</p>
        </li>
      </ul>
      <h4>（二）自动投资</h4>
      <ul>
        <li>
          1.	乙方根据甲方确认，自动选择乙方合作商业银行互联网投融资平台提供的投资项目，并与商业银行平台服务商共同实现撮合甲方投资于投资项目。甲方确认同意接受乙方选择的平台投资项目，并自投资款发放至投资项目融资人指定的银行账户之日起，视同甲方和融资人正式确立借贷或权益转让关系。
        </li>
        <li>
          2.	乙方根据甲方授权，当甲方通过第三方支付机构收到应收款项时，乙方可将该笔款项自动选择乙方合作商业银行互联网投融资平台提供的投资项目，并与商业银行平台服务商共同实现撮合将甲方该笔款项投资于投资项目。甲方确认同意接受乙方选择的平台投资项目，并自投资款发放至投资项目融资人指定的银行账户之日起，视同甲方和融资人正式确立借贷或权益转让关系。
        </li>
        <li>
          3.	乙方（或与乙方合作的第三方）及合作商业银行互联网投融资平台上的相关协议、说明及规则，与本协议共同构成完整的投融资合同框架体系。甲方使用自动投资服务的投资标的为授权乙方代为选择的投资项目（含他人转让的投资项目份额），甲方在选择所投资投资项目时，已确认清晰了解该投资项目所披露的信息。
        </li>
        <li>
          4.	如甲方持有权益到期，则甲方不可撤销地委托乙方继续将已到期权益份额对应的资金款项自动投资至其他投资项目。
        </li>
        <li>
          5.	甲方可通过乙方（或与乙方合作的第三方网站）所提供页面或其他乙方指定途径了解查询经乙方撮合成功的投资项目收益率等详情。
        </li>
      </ul>
      <h4>（三）付款（自动转让）</h4>
      <ul>
        <li>
          1.	当甲方需要通过乙方的服务向第三方付款时，甲方将投资所获得的债权或其他权益（不含收益部分）份额委托乙方进行撮合并转让予其他方。当经乙方撮合的其他方足额获得相关份额后，视为甲方向第三方的付款操作已完成。
        </li>
        <li>
          2.	当甲方需要通过乙方的服务接受第三方款项时，甲方将接受乙方撮合的第三方将投资所获得的债权或其他权益份额的转让。当经乙方撮合的其他方足额转让相关份额且甲方收到后，视为甲方接受第三方的付款操作已完成。
        </li>
        <li>
          3.	甲方使用付款（自动转让）服务的转让标的为投资份额，包括其已在平台上经乙方撮合，与具体融资人之间交易成功的投资项目的部分或全部权益份额，以及正在撮合中投资份额（此类份额不产生收益）。甲方在选择所转让的权益时，已确认清晰了解转让行为对自身权利义务的影响。
        </li>
        <li>
          4.	甲方使用乙方服务付款的对象必须为同样开通乙方服务功能的第三方，如果甲方付款的对象未开通乙方相关服务，则乙方可拒绝甲方本次支付请求。
        </li>
        <li>
          5.	如第三方通过乙方服务向甲方付款，则甲方同意乙方将该第三方所转让的权益份额登记至甲方名下，甲方自乙方登记之日起，持有该权益份额。
        </li>
        <li>
          6.	如甲方需要将其名下通过投资或第三方转让的权益份额或收益提现到甲方银行账户的，应当根据本协议及产品所在平台的具体规则，将提现对应部分份额或收益委托乙方进行撮合并转让予其他方，转让完成后获得的款项，由乙方清分至甲方依本协议绑定的银行账户中。
        </li>
        <li>
          7.	甲方确认，根据甲方与产品所在平台的相关约定或平台规则，相关交易操作可能无须使用支付密码。甲方应提前确认产品所在平台的业务规则，并确认如上述无密码操作造成损失的，由甲方与平台协商解决，乙方不承担责任。
        </li>
      </ul>
    </div>
    <h3>四、承诺及说明</h3>
    <div class="content">
      <ul>
        <li>
          1.	甲方保证其为履行本协议而向乙方提供的全部资料均真实、有效。
        </li>
        <li>
          2.	甲方保证用于投资/付款的资金来源合法，甲方是该资金的合法所有人，如有第三方对资金归属、合法性问题提出异议，由甲方自行解决。
        </li>
        <li>
          3.	甲方确认其所有操作均为其本人或其授权代理人的真实意思表示。
        </li>
        <li>
          4.	甲方选择使用自动投资服务所投资的项目，其计息时间、还款方式、还款时间等以乙方合作商业银行投融资平台上的投资服务协议、项目说明书等的相关约定为准，与本协议构成不可分割的一部分。
        </li>
        <li>
          5.	甲方应确保在服务期限内，其在平台所指定使用的银行账户内资金足以支付甲方本人在平台相关页面自行选择的金额。如因银行账户内资金不足导致自动投资操作无法实现的，本协议未生效，甲方将不再享有相应收益。
        </li>
        <li>
          6.	甲方应自行承担投资或转让所获收益的应纳税款。
        </li>
        <li>
          7.	甲方委托乙方按照乙方或产品所作平台的规则，将甲方投资所得的全部或部分债权或其他权益转让给其他投资人从而实现款项支付。款项支付对应的甲方与第三方之间的交易是否生效不影响权益转让的有效性。
        </li>
        <li>
          8.	甲方签署本协议后，将委托乙方代为在甲方委托转让的权益范围内，撮合并转让予其他投资人，甲方一经确认委托乙方代为撮合，则不得撤销委托或主张转让无效。
        </li>
        <li>
          9.	乙方承诺向甲方所提供的全部投资项目均合法合规，符合现行中国大陆法律对投融资的相关要求，如因此原因，或因投资对象或项目原因造成甲方损失的，乙方应承担赔偿责任。
        </li>
      </ul>
    </div>
    <h3>五、风险提示</h3>
    <div class="content">
      <ul>
        <li>
          1.	甲方确认所委托的投资或转让，均需通过乙方撮合，且乙方撮合可能存在不成功，相关交易不成功的风险，由甲方承担。
        </li>
        <li>
          2.	甲方确认，投资收益或转让权益所得，经乙方撮合交易成功后，将在所公示的时间范围内到达甲方指定银行账户，但乙方不保证能实时到账，故甲方应当自行安排好相关时间，自行承担相关所得无法实时到账的风险。
        </li>
        <li>
          3.	乙方会尽商业上的合理努力去要求与乙方合作的第三方主体不得保留甲方的个人信息或对确需留存的信息采取保护措施，但乙方无法保证第三方确定会采取相应保护措施，乙方亦不对这些主体的行为及后果承担任何责任。如果甲方发现第三方的网页或应用程序存在风险时，甲方可停止使用相应服务；甲方仍然使用相应服务的，自行承担所带来的后果或自行向第三方进行追索。
        </li>
      </ul>
    </div>
    <h3>六、商标、知识产权、专利的保护</h3>
    <div class="content">
      <ul>
        <li>
          1.  乙方及关联公司所有系统及本系统所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由乙方或乙方关联公司依法拥有其知识产权（包括但不限于商标权、专利权、著作权、商业秘密等）。
        </li>
        <li>
          2.  非经乙方或乙方关联企业书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表乙方程序或内容。
        </li>
        <li>
          3.  尊重知识产权是甲方应尽的义务，如有违反，甲方应承担损害赔偿责任。
        </li>
      </ul>
    </div>
    <h3>七、隐私及保密条款</h3>
    <div class="content">
      <ul>
        <li>
          1.  乙方对于甲方提供的、乙方自行收集的、经认证的信息将按照本协议予以保护、使用或者披露。
        </li>
        <li>
          2.  乙方收集资料的主要目的在于优化系统功能及为甲方提供顺利、有效和度身订造的服务。乙方仅收集乙方认为就此目的及达成该目的所必须的关于甲方的资料。
        </li>
        <li>
          3.  乙方可能通过公开或私人资料来源收集甲方的额外资料，以更好地了解甲方的需求及信用状况，并为甲方度身订造服务、解决争议并有助确保在乙方进行安全交易。
        </li>
        <li>
          4.  乙方有权按照甲方在网站上的行为自动追踪关于甲方的某些资料。在不透露甲方隐私资料的前提下，乙方有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
        </li>
        <li>
          5.  乙方有权在乙方的某些网页上使用诸如“Cookies”的资料收集装置。
        </li>
        <li>
          6.  乙方设有严格的数据安全系统，对甲方信息进行同步记录和高强加密，防止未经授权的任何人获取甲方信息，严格保护甲方的财务隐私和甲方信息，但鉴于技术限制，乙方不能确保甲方的全部私人通讯及其他资料不会通过本协议中未列明的途径泄露出去。
        </li>
        <li>
          7.  乙方可根据有关法律要求向司法机关和政府部门提供甲方的资料。在甲方未能按照与乙方签订的服务协议或者与乙方其他用户签订的借款协议等其他法律文本的约定履行自己应尽的义务时，乙方有权根据自己的判断或者与该笔交易有关的其他用户的请求披露甲方的资料，并做出评论。
        </li>
        <li>
          8.  如果甲方严重违反乙方的相关规则或违反相关合同条款的，乙方有权对甲方提供的及乙方自行收集的甲方的信息和资料编辑入网站黑名单，并依法依规将该黑名单报送相关征信机构或向第三方披露。
        </li>
        <li>
          9.  在乙方提供的交易活动中，甲方承诺对所取得的相关交易相对人信息只用于与交易相关的合法、合理用途。甲方无权要求乙方提供其他用户的资料。
        </li>
        <li>
          10. 甲方不得对乙方所提供的全部或部分服务以及通过乙方取得的任何形式的信息，进行复制、拷贝、出售、转售或用于任何其它商业目的。
        </li>
        <li>
          11.本协议签署后, 除非事先得到乙方的书面同意, 甲方应承担以下保密义务：
          <p>
            11.1不得向任何第三方披露本协议以及本协议项下的事宜以及与此等事宜有关的任何文件、资料或信息（以下简称“保密信息”）。
          </p>
          <p>
            11.2只能将保密信息和其内容用于本协议项下的目的, 不得用于任何其他目的。本款的约定不适用于下列保密信息：
            <ul>
              <li>
                a. 从披露方获得时，已是公开的；
              </li>
          <li>
            b. 从披露方获得前，接受方已经获知的；
          </li>
          <li>c. 从有正当权限并不受保密义务制约的第三方获得的；</li>
          <li>d. 非依靠披露方披露或提供的信息独自开发的。</li>
            </ul>
          </p>
        </li>
        <li>
          12.甲方因下列原因披露保密信息，不受前款的限制：
          <p>12.1向甲方的董事、监事、高级管理人员和雇员及其聘请的会计师、律师、咨询公司披露。</p>
          <p>12.2因遵循可适用的法律、法规的强制性规定而披露。</p>
          <p>12.3 依据其他应遵守的法律法规向有权机构进行的披露。</p>
        </li>
        <li>
          13. 甲方应采取所有其他必要、适当和可以采取的措施，以确保保密信息的保密性。
        </li>
        <li>
          14.甲方应促使其向之披露保密信息的人严格遵守本条约定。
        </li>
        <li>
          15.甲方在本条项下的权利和义务应在本协议终止或到期后继续有效。
        </li>
      </ul>
    </div>
    <h3>八、其他</h3>
    <div class="content">
      <ul>
        <li>
          1.	由于法律及监管政策变化或包括且不限于地震、火灾、战争、电力中断、黑客攻击、计算机病毒在内的非乙方原因系统或网络故障等不可抗力导致的交易中断、延误的，甲乙双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。
        </li>
        <li style="text-decoration: underline; font-weight: bold;">
          2.	本协议项下产生的纠纷，双方先行协商解决，协商不成的，任何一方可向乙方所在地法院提起诉讼。
        </li>
        <li>
          3.	双方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条被司法部门认定为违反所须适用的法律，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
        </li>
        <li>
          4.	甲方如在确认本协议后，其实际款项支付未按本协议所约定方式进行投资或转让的，具体款项支付所涉权利义务由甲方与第三方所签署或约定法律文本规范，本协议不对该笔款项产生法律效力。
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
