{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}



    {# 填写信息 #}
	<div class="form-frame fn-mb-10">
    <div class="login-wrap">
      <h2 class="text-align-center h2-title default-FontColor">您还未开通信用账户，欢迎开通！</h2>
      <div class="text-align-center fn-pt-40">
        <a class="btn primary" href="偿债方式.html"><b>立即开通</b></a>
      </div>
      <div class="info fn-pa-20 viceText-FontColor fs-12 lh-20">
        <div class="fs-16 info-title">重要说明</div>
        1、信用账户，亦作：透支账户；是E+账户投资者在XXXX公司开设的一种账户形式。通过该账户，投资者可以用XXXX作抵押，按账户资产总值的一定比例在合作渠道进行消费……<br>
        2、如何申请信用额度：是根据您提交的资料进行的一个综合评定的结果，具体说就是看您的财力证明，比如最近一个月的投资记录，还有……
      </div>
    </div>
	</div>

{% endblock %}


