{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

    {# 充值成功 #}
    <div class="notice-wrap info">
        <div class="notice-box">
            <span class="notice-img"></span>
            <h3>开通申请提交成功</h3>
            <p>
                客服人员将根据你提交的用户信息评估信用额度，结果将会以短信通知。<br>如需修改信息请联系客服电话：400-106-6698
            </p>
            <p>
                <strong>5 秒后自动跳转至信用账户首页</strong>
            </p>
            <a href="偿债方式-账户总览.html" class="link-standard">点击进入</a>
        </div>
    </div>

{% endblock %}


