{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

	{# 步骤 #}
	{{ Step.foursteps2('pass3') }}

        
    {# Alert 提示 #}
    {{ Alert.loading('请完成以下资料填写，以便为您开通信用账户') }}

    <div class="tables-title">
        车辆信息
        <div class="table-title-btns">
            <a href="###" data-toggle="modal" data-target="#newRecord">+&nbsp;新增
            </a>
        </div>
    </div>
    <div class="table-wrap">
        <table class="table">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width: 70px;">
            </colgroup>
            <thead>
                <tr>
                    <th>车牌号
                    </th>
                    <th>车辆识别代号
                    </th>
                    <th>行驶证检验有效期
                    </th>
                    <th>ETC卡号
                    </th>
                    <th>行驶证副本
                    </th>
                    <th class="text-align-left">操作
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>鲁A88888</td>
                    <td>LSGJW52P56H009320</td>
                    <td>2018-11-01</td>
                    <td>523452346272345</td>
                    <td>已上传</td>
                    <td class="text-align-left">
                        <div class="table-ctrls">
                            修改<span class="caret-down"></span>
                            <div class="ctrls">
                                <a href="###" data-toggle="modal" data-target="#editRecord">修改
                                </a>
                                <a href="###" data-toggle="modal" data-target="#delRecord">删除
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>鲁A88888</td>
                    <td>LSGJW52P56H009320</td>
                    <td>2018-11-01</td>
                    <td>523452346272345</td>
                    <td>已上传</td>
                    <td class="text-align-left">
                        <div class="table-ctrls">
                            修改<span class="caret-down"></span>
                            <div class="ctrls">
                                <a href="###" data-toggle="modal" data-target="#editRecord">修改
                                </a>
                                <a href="###" data-toggle="modal" data-target="#delRecord">删除
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {# 分页 #}
	{{ Pager.render() }}

    <p>
        证件要求：
    </p>
    <p>
        • 必须为清晰彩色原件扫描件或数码照，图片大小不超过2M，仅支持jpg,jpeg,bmp的图片格式。
    </p>
    <p>
        • 如果提交的证件错误，您的申请将不通过。
    </p>
    <div class="text-align-center fn-pt-20">
        <div class="btn-with-viceLink text-align-center plural-btns">
            <a href="注册开通-开通流程-企业用户安全验证.html" class="btn primary">确认无误，提交审核</a>
            <a href="注册开通-开通流程-完善法人信息.html" class="btn-vicelink">上一步</a>
        </div>
    </div>   
    
    <div class="modal-background fade display-none" id="newRecord" role="dialog">
        <div class="modal-layer">
            <div class="modal-position">
                <div class="modal-wrap">
                    <div class="modal-head">
                        新增车辆信息
                        <button class="modal-close">
                            <i></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-layer1">
                            <div class="form-layer2">
                                <form autocomplete="off">
                                    {# 车牌号 #}
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            <span>车牌号</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    {# 车辆识别代号 #}
					                <div class="form-group">
                                        <label class="form-control-label">
                                            <span>车辆识别代号</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    {# 行驶证检验有效期 #}
					                <div class="form-group">
                                        <label class="form-control-label">
                                            <span>行驶证检验有效期</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    {# ETC卡号 #}
					                <div class="form-group">
                                        <label class="form-control-label">
                                            <span>ETC卡号</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    {# 行驶证副本 #}
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            <span>行驶证副本</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-data form-control-check">
                                            <button class="btn small-btn secondary">点击上传</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <p>
                            证件要求：<br />
                            • 必须为清晰彩色原件扫描件或数码照，图片大小不超过2M，仅支持jpg,jpeg,bmp的图片格式。<br />
                            • 必须在有效期内且年检章齐全（当年成立的公司可无年检章）<br />
                            • 如果提交的证件错误，您的申请将不通过。
                        </p>
                        <div class="text-align-center fn-pt-20">
                            <div class="btn-with-viceLink text-align-center plural-btns">
                                <button class="btn primary" type="submit">确认提交</button>
                                <a href="###" class="btn-vicelink">取消</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-background fade display-none" id="editRecord" role="dialog">
        <div class="modal-layer">
            <div class="modal-position">
                <div class="modal-wrap">
                    <div class="modal-head">
                        修改车辆信息
                        <button class="modal-close">
                            <i></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-layer1">
                            <div class="form-layer2">
                                <form autocomplete="off">
                                    {# 车牌号 #}
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            <span>车牌号</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" value="鲁A89627">
                                        </div>
                                    </div>
                                    {# 车辆识别代号 #}
					                <div class="form-group">
                                        <label class="form-control-label">
                                            <span>车辆识别代号</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" value="LSGJW52P56H009320">
                                        </div>
                                    </div>
                                    {# 行驶证检验有效期 #}
					                <div class="form-group">
                                        <label class="form-control-label">
                                            <span>行驶证检验有效期</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" value="2015-11-01">
                                        </div>
                                    </div>
                                    {# ETC卡号 #}
					                <div class="form-group">
                                        <label class="form-control-label">
                                            <span>ETC卡号</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" value="523452346272345">
                                        </div>
                                    </div>
                                    {# 行驶证副本 #}
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            <span>行驶证副本</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-data">
                                            DCS7960.jpg<a href="##" class="link-standard fn-pl-10">重新上传</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <p>
                            证件要求：<br />
                            • 必须为清晰彩色原件扫描件或数码照，图片大小不超过2M，仅支持jpg,jpeg,bmp的图片格式。<br />
                            • 必须在有效期内且年检章齐全（当年成立的公司可无年检章）<br />
                            • 如果提交的证件错误，您的申请将不通过。
                        </p>
                        <div class="text-align-center fn-pt-20">
                            <div class="btn-with-viceLink text-align-center plural-btns">
                                <button class="btn primary" type="submit">确认提交</button>
                                <a href="###" class="btn-vicelink">取消</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-background fade display-none" id="delRecord" role="dialog">
        <div class="modal-layer">
            <div class="modal-position">
                <div class="modal-wrap">
                    <div class="modal-head">
                        删除车辆信息
                        <button class="modal-close">
                            <i></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-layer1">
                            <div class="form-layer2">
                                <form autocomplete="off">
                                    {# 车牌号 #}
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            <span>车牌号</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-data">
                                            鲁A89776
                                        </div>
                                    </div>
                                    {# ETC卡号 #}
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            <span>ETC卡号</span>
                                            <em>：</em>
                                        </label>
                                        <div class="form-control-data">
                                            324123421422342388
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <h3 class="warning-FontColor text-align-center">
                            是否确定删除此车辆信息？
                        </h3>
                        <div class="text-align-center fn-pt-20">
                            <div class="btn-with-viceLink text-align-center plural-btns">
                                <button class="btn primary" type="submit">确认删除</button>
                                <a href="###" class="btn-vicelink">取消</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


