{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

<div class="login-main login-main-bg">

      <div class="text-align-center login-entrance">
          <div class="text"><img src="{{ static }}/images/login-wrap/text.png"></div>
          <div class="fn-pt-50">
            <a href="通用登录注册页面-登录step1.html" class="btn primary">登录</a>
            <a href="通用登录注册页面-注册-个人step1.html" class="btn btn-register fn-ml-25">立即注册</a>
          </div>
      </div>



</div>

{% endblock %}
