.contentBox-alpha{
	width:100%;
	margin:8px 0;
	td{
		padding-left:8px;
		text-align:center;
		.box{
			//background:#ebebeb;
			//padding:10px 2px;
			color:@heading-FontColor;
            border: 1px solid transparent;
			h5{
				//color:@default-FontColor;
                background:#e67d7d;
                height: 50px;
                line-height: 50px;
                color: #fff;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
			};
			h3{
				font-size:@small-FontSize;
                background: white;
                height: 40px;
                line-height: 40px;
                color: #666666;
                border: 1px solid #e8e8e8;
                border-top: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
			}
		}
	};
	td:first-child{
		padding-left:0px;
	}
}
