.filterBox-Alpha{
	.fliter-inline-wrap{
		padding:12px 0 12px;
		.fliter-inline-item{
			.clearfix();
			display: inline-block;
			float: left;
			margin-left: 8px;
			label{
				float:left;
				line-height: 30px;
			}
			select{
				padding: 5px 0px;
			}
		}
	}
}