.form-frame{
	.form-group{
		.form-control-wrap{
			.form-control-date{
				width:150px;
			}
			.coordinate{
				display: inline-block;
				width: 134px;
			}
			.form-control-cascade{
				display: inline-block;
				width:168px;
			}
		}
	}
}