/*
// alpha 项目页头
// --------------------------------------------------
*/

@charset "utf-8";

/* --- style --- */
#header-alpha {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: @bgColor-header-alpha;
    max-width: 100%;
    min-width: @width-web-alpha;

    .header-main {
        width: @width-web-alpha;
        margin: 0 auto;
        .clearfix();

        > .logo {
            float: left;
            height: @height-header-alpha;
            line-height: @height-header-alpha;
            font-size: 0;

            > img {
                .inline-block();
                vertical-align: middle;
                height: 80%;
            }
        }

        > .user-info {
            height: @height-header-alpha;
            line-height: @height-header-alpha;
            font-size: @smaller-FontSize;
            color: lighten( @bgColor-header-alpha,45% );
            float: right;

            > a {
                .link-custom( #fff,#fff,none );
            }
        }
    }
}
