/*
// alpha 侧导航
// --------------------------------------------------
*/

@charset "utf-8";

/* --- style --- */
#nav-alpha {

    .lv1,
    .lv2,
    .lv3 {
        .reset-list( none,block,@smallest-FontSize,@line-height-base );

        .lv1-btn,
        .lv2-btn,
        .lv3-btn {
            position: relative;
            .link-custom( @default-FontColor,@default-FontColor,none );
            display: block;
            height: @height-btn-nav-alpha;
            line-height: @height-btn-nav-alpha;
            .text-hide();
            font-size: @small-FontSize;
            border-bottom: 1px solid @base-BorderColor;
            padding: 0 @paddingSize-public-alpha*2 0 @paddingSize-public-alpha;

            > i {
                font-size: @small-FontSize;
                position: absolute;
                top: 50%;
                color: @viceText-FontColor;
                right: @paddingSize-public-alpha;
                margin-top: -@small-FontSize/2;
            }
        }

        .lv2,
        .lv3 {
            z-index: 2;
            display: none;
            position: absolute;
            top: -1px;
            left: @width-nav-alpha - 1px;
            width: 100%;
            border: 1px solid @base-BorderColor;
            border-bottom: none;

            .lv2-btn,
            .lv3-btn {
                background-color: @bgColor-hover-lv1Btn-alpha;

                &:hover {
                    background-color: darken( @bgColor-hover-lv1Btn-alpha,4% );
                }
            }

            .lv3 {
                left: @width-nav-alpha - 3px;
                border-color: darken( @base-BorderColor,4% );

                .lv3-btn {
                    background-color: darken( @bgColor-hover-lv1Btn-alpha,4% );
                    border-color: darken( @base-BorderColor,4% );

                    &:hover {
                        background-color: darken( @bgColor-hover-lv1Btn-alpha,8% );
                    }
                }
            }

            &.in-bottom {
                top: auto;
                bottom: 0;
            }

            > li {
                position: relative;

                &:hover {

                    .lv2-btn {
                        background-color: darken( @bgColor-hover-lv1Btn-alpha,4% );
                    }

                    .lv3 {
                        display: block;
                    }
                }
            }
        }

        > li {
            position: relative;

            &:hover {
                background-color: @bgColor-hover-lv1Btn-alpha;

                .lv2 {
                    display: block;
                }
            }
        }
    }
}
