{% macro default( fixedClass='' ) %}
    <div id="nav-alpha" class="{{ fixedClass }}">
        <ul class="lv1">
            <li>
                <a href="首页.html" class="lv1-btn">
                    首页
                </a>
            </li>
            <!-- <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    清分管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="清分管理-清分文件.html" class="lv2-btn">
                            清分文件
                        </a>
                    </li>
                    <li>
                        <a href="清分管理-机构清分配置.html" class="lv2-btn">
                            机构清分配置
                        </a>
                    </li>
                </ul>
            </li> -->
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    机构管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="机构管理-机构列表.html" class="lv2-btn">
                            机构列表
                        </a>
                    </li>
                    <li>
                        <a href="机构管理-创建子机构.html" class="lv2-btn">
                            创建子机构
                        </a>
                    </li>
                    <li>
                        <a href="机构管理-服务方案列表.html" class="lv2-btn">
                            服务方案列表
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    通道管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="通道管理-通道列表.html" class="lv2-btn">
                            通道列表
                        </a>
                    </li>
                    <li>
                        <a href="通道管理-创建通道（步骤1）.html" class="lv2-btn">
                            创建通道
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    渠道合同管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <!--<li>-->
                        <!--<a href="###" class="lv2-btn">-->
                            <!--合同模板列表-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="渠道合同管理-合同列表.html" class="lv2-btn">
                            合同列表
                        </a>
                    </li>
                    <li>
                        <a href="渠道合同管理-创建合同.html" class="lv2-btn">
                            创建合同
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    渠道管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="关联渠道管理-渠道列表.html" class="lv2-btn">
                            渠道列表
                        </a>
                    </li>
                    <li>
                        <a href="关联渠道管理-创建渠道(步骤1).html" class="lv2-btn">
                            创建渠道
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    关联终端管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="###" class="lv2-btn">
                            分配终端
                        </a>
                    </li>
                    <li>
                        <a href="关联终端管理-机器终端列表.html" class="lv2-btn">
                            机器终端列表
                        </a>
                    </li>
                    <li>
                        <a href="关联终端管理-装机记录.html" class="lv2-btn">
                            装机记录
                        </a>
                    </li>
                    <li>
                        <a href="关联终端管理-撤机记录.html" class="lv2-btn">
                            撤机记录
                        </a>
                    </li>
                    <li>
                        <a href="关联终端管理-激活码管理.html" class="lv2-btn">
                            激活码管理
                        </a>
                    </li>
                    <li>
                        <a href="关联终端管理-二维码收款管理.html" class="lv2-btn">
                            二维码收款管理
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li>
                <a href="收单流水查询.html" class="lv1-btn">
                    收单流水查询
                </a>
            </li> -->
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    收单对账管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="对账管理-总账报表.html" class="lv2-btn">
                            总账报表
                        </a>
                    </li>
                    <li>
                        <a href="对账管理-挂销账管理.html" class="lv2-btn">
                            挂销账管理
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    账务报表查询
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="财务报表查询-收银交易记录.html" class="lv2-btn">
                            收银交易记录
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="lv2-btn">
                            交易数据统计
                            <i class="icon-chevron-thin-right"></i>
                        </a>
                        <ul class="lv3">
                            <li>
                                <a href="财务报表查询-交易数据统计（按机构统计）.html" class="lv3-btn">
                                    按机构统计
                                </a>
                            </li>
                            <li>
                                <a href="财务报表查询-交易数据统计（按支付方式统计）.html" class="lv3-btn">
                                    按支付方式统计
                                </a>
                            </li>
                            <li>
                                <a href="财务报表查询-交易数据统计（按行业分类统计）.html" class="lv3-btn">
                                    按行业分类统计
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="财务报表查询-机构分润对账单.html" class="lv2-btn">
                            机构分润对账单
                        </a>
                    </li>
                    <li>
                        <a href="财务报表查询-商户分润对账单.html" class="lv2-btn">
                            商户分润对账单
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    系统管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="系统管理-账号管理.html" class="lv2-btn">
                            账号管理
                        </a>
                    </li>
                    <li>
                        <a href="系统管理-角色管理.html" class="lv2-btn">
                            角色管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endmacro %}
