{% macro default( fixedClass='' ) %}
    <div id="nav-alpha" class="{{ fixedClass }}">
        <ul class="lv1">
            <li>
                <a href="首页.html" class="lv1-btn">
                    首页
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    子渠道管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="javascript:void(0);" class="lv2-btn">
                            渠道列表
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="lv2-btn">
                            创建子渠道
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    通道查看
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="javascript:void(0);" class="lv2-btn">
                            通道列表
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    合同管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="机构列表.html" class="lv2-btn">
                            合同列表
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    进销存管理
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    收单流水查询
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    财务报表查询
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2">
                    <li>
                        <a href="关联渠道管理-渠道列表.html" class="lv2-btn">
                            交易数据汇总
                        </a>
                    </li>
                    <li>
                        <a href="关联渠道管理-创建渠道(步骤1).html" class="lv2-btn">
                            交易记录
                        </a>
                    </li>
                    <li>
                        <a href="关联渠道管理-创建渠道(步骤1).html" class="lv2-btn">
                            交易数据分析
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    关联终端管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2 in-bottom">
                    <li>
                        <a href="###" class="lv2-btn">
                            二维码收款管理
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="lv1-btn">
                    系统管理
                    <i class="icon-chevron-thin-right"></i>
                </a>
                <ul class="lv2 in-bottom">
                    <li>
                        <a href="系统管理-账号管理.html" class="lv2-btn">
                            账号管理
                        </a>
                    </li>
                    <li>
                        <a href="系统管理-角色管理.html" class="lv2-btn">
                            角色管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endmacro %}
