{% extends "_layout/alpha/layout-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list=[
                {
                    link: '合同管理-合同列表.html',
                    text: '合同管理'
                },
                {
                    text: '合同列表'
                }
            ]
        )
    }}

    {# 数据过滤器 #}

    <form class="filterBox-Alpha" action="#" method="post">
        <div class="fliter-inline-wrap">

        <div class="fliter-inline-item">
            <label>渠道名称：</label>
            <div class="fliter-inline-width1">
                <div class="fliter-inline-width1">
                    <input type="text" class="form-control smallsize" placeholder="请输入渠道名称" />
                </div>
            </div>
        </div>

        <div class="fliter-inline-item">
            <label>合同编号：</label>
            <div class="fliter-inline-width1">
                <div class="fliter-inline-width1">
                    <input type="text" class="form-control smallsize" placeholder="请输入合同编号" />
                </div>
            </div>
        </div>

        <div class="fliter-inline-item">
            <label>合同模板：</label>
            <div class="fliter-inline-width1">
                <select>
                    <option value="-1">全部</option>
                    <option value="0">支付宝(招商银行总行)</option>
                    <option value="1">微信支付(招商银行总行)</option>
                </select>
            </div>
        </div>


        <div class="fliter-inline-item">
            <button type="button" class="btn secondary small-btn">搜索</button>
            <button type="button" class="btn secondary small-btn">重置</button>
        </div>
    </div>
    </form>

    {# 表格 #}
    {{
        tableAlpha.default(
            data={
                theadList: [
                    {
                        inner: '合同编号'
                    },
                    {
                        inner: '商户名称'
                    },
                    {
                        inner: '合同名称'
                    },
                    {
                        inner: '通道机构名称'
                    },
                    {
                        inner: '创建时间',
                        thWidth: '180px'
                    },
                    {
                        inner: '操作',
                        thWidth: '140px'
                    }
                ],
                tbodyList: [
                    [
                        {
                            inner : '365443'
                        },
                        {
                            inner: '阿迪达斯成都分公司'
                        },
                        {
                            inner: '支付宝（招商银行总行）'
                        },
                        {
                            inner: '招商银行总行'
                        },
                        {
                            inner: '
                            <span class="text-nowrap">
                                2015-05-25
                            </span>
                            <span class="text-nowrap viceText-FontColor">
                                10:25:36
                            </span>
                            '
                        },
                        {
                            inner: '
                                <a class="link-standard" href="合同管理-通道合同列表-查看合同.html">查看</a>
                                <a class="link-standard" href="合同管理-合同列表-设置关联门店.html">关联门店</a>
                            '
                        }
                    ]
                ]
            },
            fixedClass='fn-pt-20'
        )
    }}

    {# 分页 #}
    {{ paginationAlpha.default( id='p1' ) }}

{% endblock %}

{# 页面脚本 #}
{% block jsPage %}
<script>
    // 静态分页
    function ajaxData(e, index, instance){
        index = index || 1;
        // 自定义总页码模板
        $('#p1').pagination({
            currentPage: index,
            items: 100,
            itemsOnPage: 10,
            pageStr: {
                show: true,
                template: '<p class="pull-left fs-12 viceText-FontColor lh-26">当前是第&nbsp;{$current}&nbsp;页，共&nbsp;{$pages}&nbsp;页，{$items}&nbsp;条记录，每页显示&nbsp;{$itemsOnPage}&nbsp;条。</p>'
            }
        });
        $('#p1').on('select.ui.pagination', ajaxData);
    }
    ajaxData();
</script>
{% endblock %}
