{% extends "_layout/alpha/layout-alpha-channel.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list = [
                {
                    link: 'javascript:void(0);',
                    text: '子渠道管理'
                },
                {
                    link: 'javascript:void(0);',
                    text: '子渠道列表'
                },
                {
                    text: '查看分润'
                }
            ]
        )
    }}

    <div>
    <!--表格-->
    <table class="table inverse">
        <colgroup>
            <col style="width: 15%">
            <col style="width: 15%">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col style="width:12%">
        </colgroup>
        <thead>
        <tr>
            <th>支付通道</th>
            <th>行业分类</th>
            <th colspan="7">商户签约扣率</th>
            <th>商户封顶<br />（0为不封顶）</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>支付宝（成都招行）</td>
            <td>线下实体商户</td>
            <td colspan="7">0.5%-0.6%</td>
            <td>100元</td>
        </tr>
        </tbody>
    </table>

    <table class="table inverse">
        <colgroup>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>本渠道总分润</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0.15%</td>
        </tr>
        </tbody>
    </table>

    <!--返回-->
    <div class="text-align-center fn-mt-20">
        <a href="子渠道管理-渠道列表.html" class="btn default">返回</a>
    </div
{% endblock %}
