{% extends "_layout/alpha/layout-onlyHeader-alpha.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list=[
                {
                    text: '修改密码'
                }
            ]
        )
    }}

    {# 表单 #}
    <form action="" autocomplete="off">
        <div class="form-frame fn-mt-20">
            <div class="form-layer1">
                <div class="form-layer2">

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>新密码
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <input type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>再次确认新密码
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <input type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">
                                <b>*
                                </b>
                                <span>短信验证码
                                </span>
                                <em>：
                                </em>
                            </label>
                            <div class="form-control-wrap">
                                <div class="form-control-verify">
                                    <input type="text" class="form-control">
                                    <button class="btn form-control-verify-btn">
                                        获取验证码
                                    </button>
                                    <!-- 按钮点击后的文字提示和 disabled 样式 -->
                                    <!-- <button class="btn form-control-verify-btn disabled" disabled>
                                        59秒后再次获取
                                    </button> -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-control-wrap text-align-left plural-btns margin-top-20px">
                                <button type="button" class="btn primary" id="submit">提交</button>
                                <a href="首页（登陆后待生效）.html" class="btn links">取消</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block jsPage %}
<script>
    $(function(){
        $("#submit").on("click",function(){
            $.tipsModal({
                type : 'success',   //success info error
                title : '<span class="success-FontColor2">提交成功！</span>',
                content : '即将返回系统首页',
                // buttons : {  //按钮可以只传ok或cancel
                //     ok : {
                //     text : '确定', callback : function () {
                //             console.log('确定');
                //         }
                //     }
                // }
            });
        });
    });
</script>
{% endblock %}
