{% extends "_layout/alpha/layout-noNav-alpha.html" %}

{# content内容 #}
{% block content %}
<div class="lo">
    <div class="lo-panel">

        <div class="lo-box">
            <h3 class="text-align-center fn-pb-20">账号：Graxii</h3>
            <form action="">
                <div class="lo-form-item">
                    <div class="form-group" style="padding: 0;">
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" placeholder="请输入新密码">
                        </div>
                    </div>
                </div>
                <div class="lo-form-item">
                    <div class="form-group" style="padding: 0;">
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" placeholder="请再次输入新密码">
                        </div>
                    </div>
                </div>
                <div class="lo-form-item">
                    <div class="form-group" style="padding: 0;">
                        <div class="form-control-wrap">
                            <div class="form-control-verify">
                                <input type="text" class="form-control" placeholder="请输入验证码">
                                <button class="btn form-control-verify-btn">
                                    获取验证码
                                </button>
                                <!-- 按钮点击后的文字提示和 disabled 样式 -->
                                <!-- <button class="btn form-control-verify-btn disabled" disabled>
                                    59秒后再次获取
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>

                <p class="fn-pt-10 fn-pb-10 viceText-FontColor">短信将发送至尾号为6740的手机号</p>

                <div class="lo-form-item button">
                    <button type="button" class="btn primary" style="width: 100%; display: block;" id="submit">提交</button>
                    <a href="登录.html" class="link-standard text-align-center fn-pt-10" style="display: block;">返回登录界面</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block jsPage %}
<script>
    $(function(){
        $("#submit").on("click",function(){
            $.tipsModal({
                type : 'success',   //success info error
                title : '<span class="success-FontColor2">提交成功！</span>',
                content : '即将跳转到系统登录页面',
                // buttons : {  //按钮可以只传ok或cancel
                //     ok : {
                //     text : '确定', callback : function () {
                //             console.log('确定');
                //         }
                //     }
                // }
            });
        });
    });
</script>
{% endblock %}
