{% extends "_layout/alpha/layout-alpha-channel.html" %}

{# 内容 #}
{% block content %}

    {# 路径导航 #}
    {{
        breadCrumbAlpha.default(
            list=[
                {
                    text: '首页'
                }
            ]
        )
    }}

    {# 表格标题 #}
    {{
        tableAlpha.tableHeaderDefault(
            title='商户信息管理',
            fixedClass='fn-mt-20'
        )
    }}

    {# 表格 #}
    {{
        tableAlpha.default(
            data={
                theadList: [
                    {
                        inner: '商户待审核'
                    },
                    {
                        inner: '门店待审核'
                    },
                    {
                        inner: '收单合同待审核'
                    },
                    {
                        inner: '机器待装机'
                    },
                    {
                        inner: '已通过商户'
                    },
                    {
                        inner: '已通过门店'
                    }
                ],
                tbodyList: [
                    [
                        {
                            inner: '
                                <h3 class="warning-FontColor">
                                    1000
                                </h3>
                            '
                        },
                        {
                            inner: '
                                <h3 class="warning-FontColor">
                                    1000
                                </h3>
                            '
                        },
                        {
                            inner: '
                                <h3 class="warning-FontColor">
                                    1000
                                </h3>
                            '
                        },
                        {
                            inner: '
                                <h3 class="warning-FontColor">
                                    1000
                                </h3>
                            '
                        },
                        {
                            inner: '
                                <h3 class="success-FontColor2">
                                    1000
                                </h3>
                            '
                        },
                        {
                            inner: '
                                <h3 class="success-FontColor2">
                                    1000
                                </h3>
                            '
                        }
                    ]
                ]
            }
        )
    }}

    {# 表格标题 #}
    {{
        tableAlpha.tableHeaderDefault(
            title='应用管理',
            fixedClass='fn-mt-20'
        )
    }}
    {# 表格 #}
    {{
        tableAlpha.default(
            data={
                theadList: [
                    {
                        inner: '未添加应用'
                    },
                    {
                        inner: '已添加应用'
                    }
                ],
                tbodyList: [
                    [
                        {
                            inner: '
                                <h3 class="warning-FontColor">
                                    1000
                                </h3>
                            '
                        },
                        {
                            inner: '
                                <h3 class="success-FontColor2">
                                    1000
                                </h3>
                            '
                        }
                    ]
                ]
            }
        )
    }}

    <form action="###" method="post" class="form-frame form-frame-filter fn-mt-20">
        <div class="form-layer-gray-box" style="padding: 0;">
            <div class="form-group" style="padding-left: 100px;">
                <label class="form-control-label text-align-left" style="width: 100px;">
                    <span><h4 class="fn-pl-10">交易数据</h4></span><em></em>
                </label>
                <div class="form-control-wrap">
                    <div class="form-control-check" data-toggle="switcher" data-keep="true" data-item=".filter-check-item">
                        <label class="filter-check-item active"><input type="radio" name="type" checked="">今天</label>
                        <label class="filter-check-item"><input type="radio" name="type">最近7天</label>
                        <label class="filter-check-item"><input type="radio" name="type">最近30天</label>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="index-panel-alpha in-channel">
        <div class="one">
            <h5>
                实际交易金额
            </h5>
            <h3>
                100.00
            </h3>
        </div>
        <div class="two">
            <h5>
                交易笔数
            </h5>
            <h3>
                100.00
            </h3>
        </div>
        <div class="three">
            <h5>
                优惠金额
            </h5>
            <h3>
                100.00
            </h3>
        </div>
        <div class="four">
            <h5>
                退款金额
            </h5>
            <h3>
                100.00
            </h3>
        </div>
        <div class="five">
            <h5>
                退款笔数
            </h5>
            <h3>
                100.00
            </h3>
        </div>
    </div>

{% endblock %}
