ahpladsa{% extends "_layout/alpha/layout-onlyHeader-alpha.html" %}

{# 内容 #}
{% block content %}

    <!-- 错误页面从这里开始套起 -->
    <div class="note-alpha">
        <div>

            <div class="notice-wrap waiting" style="border: none;">
                <div class="notice-box">
                    <span class="notice-img"></span>
                    <h3>
                        签约流程处理中...
                    </h3>
                    <p>
                        请稍后重新登录查看
                    </p>
                    <a href="重置密码.html" class="link-standard">重置密码</a>
                    <a href="javascript:void(0);" class="link-standard link-border">退出</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
